@import 'common';

body {
    position: relative;
    min-width: 320px;
    font-weight: 300;
    font-size: 12px;
    color: #666;
    word-break: keep-all;
    @include noto();
    @media(min-width: $md) {
        font-size: 13px;
    }
}

/* 초기화 */
.btn {
    padding: 0;
    margin: 0;
    border: 0;
    box-shadow: none !important;
    border-radius: 0;
    background: none;
}
.form-group {
    margin: 0;
}
.form-control {
    border-radius: 0;
    box-shadow: none !important;
}
// header
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    .header-wrap {
        .logo {
            display: inline-block;
            line-height: 0;
            float: left;
            margin-top: 15px;
            a {
                display: block;
                img {
                    width: 96px;
                }
            }
        }
        .quick {
            text-align: right;
            padding: 10px 0;
            padding-right: 45px;
            .pathogen-search {
                display: inline-block;
                position: relative;
                width: 105px;
                .form-group {
                    .form-control {
                        width: 100%;
                        height: 35px;
                        color: #fff;
                        font-size: 12px;
                        padding-left: 10px;
                        padding-right: 35px;
                        border-radius: 30px;
                        border: 1px solid #ed6a10;
                        background-color: #ed6a10;
                        &::placeholder {
                            color: #fff;
                        }
                        &:-ms-input-placeholder {
                            color: #fff;
                        }
                        &::-ms-input-placeholder {
                            color: #fff;
                        }
                    }
                }
                .pathogen-search {
                    position: absolute;
                    right: 0;
                    top: 0;
                    color: #fff;
                    font-size: 13px;
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    .icon-search {
                        &:before {
                            margin: 0;
                        }
                    }
                }
            }
        }
        .btn-nav {
            position: absolute;
            top: 50%;
            right: 10px;
            width: 35px;
            height: 35px;
            display: block;
            margin-top: -18px;
            .bar {
                display: block;
                width: 20px;
                height: 2px;
                margin: 5px auto;
                background-color: #065ca9;
            }
        }
    }
    @media(min-width: $md) {
        height: 80px;
        .header-wrap {
            .logo {
                margin-top: 18px;
                a {
                    img {
                        width: auto;
                    }
                }
            }
            .quick {
                padding: 23px 0 22px;
                padding-right: 50px;
                .pathogen-search {
                    width: 125px;
                    .form-group {
                        .form-control {
                            font-size: 14px;
                            padding-left: 15px;
                        }
                    }
                }
            }
            .btn-nav {
                right: 20px;
                .bar {
                    width: 27px;
                    margin: 6px auto;
                }
            }
        }
    }
    @media(min-width: $xl) {
        height: 120px;
        padding: 50px 2% 0;
        /*padding-top: 50px;*/
        box-shadow: none;
        background: none;
        overflow: hidden;
        .header-wrap {
            position: relative;
            width: 100%;
            height: 70px;
            padding: 0 25px;
            overflow: hidden;
            background-color: #fff;
            @include transition();
            box-shadow: 4px 6px 7px 0px rgba(0, 0, 0, 0.06);
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 70px;
                background-color: #fff;
            }
            .logo {
                position: relative;
                z-index: 100;
                float: left;
                margin-top: 17px;
                a {
                    img {
                        width: 130px;
                    }
                }
            }
            .quick {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                margin: 0 15px;
                padding: 0 2%;
                overflow: hidden;
                text-align: left;
                .pathogen-search {
                    float: left;
                    padding-top: 7px;
                    .form-group {
                        .form-control {
                            font-size: 14px;
                            padding-left: 15px;
                        }
                    }
                }
                .top-menu {
                    float: right;
                    /*margin-right: 15px;
                    padding-right: 2%;*/
                    margin-right: 3%;
                    margin-top: 15px;
                    > ul {
                        float: left;
                        > li {
                            display: inline-block;
                            > a {
                                display: inline-block;
                                font-size: 13px;
                                color: #fff;
                                @include titi();
                            }
                            &:after {
                                position: relative;
                                top: -2px;
                                color: #fff;
                                content: "|";
                                font-size: 10px;
                                margin: 0 8px 0 10px;
                            }
                            &:last-child {
                                &:after {
                                    content: "";
                                    margin: 0;
                                }
                            }
                        }
                    }
                    .global-search {
                        position: relative;
                        float: left;
                        padding-right: 40px;
                        .form-group {
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 300px;
                            .form-control {
                                height: 25px;
                                font-size: 12px;
                                padding: 5px;
                                padding-right: 20px;
                                border: 1px solid #fff;
                            }
                        }
                        .btn-search {
                            position: absolute;
                            top: 0;
                            right: 0;
                            height: 25px;
                            width: 25px;
                            color: #fff;
                            font-size: 13px;
                            z-index: 1;
                            .icon-search-1 {
                                &:before {
                                    position: relative;
                                    top: 2px;
                                }
                            }
                            &.event-btn {
                                display: none;
                            }
                            &.default-btn {
                                display: block;
                            }
                        }
                        &.action {
                            .btn-search {
                                display: none;
                            }
                            .event-btn {
                                top: -2px;
                                color: #333;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

// nav
#nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    right: -100%;
    z-index: 100;
    .backdrop {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .7);
    }
    .nav-wrap {
        position: absolute;
        top: 0;
        right: -100%;
        width: 270px;
        height: 100%;
        padding-bottom: 45px;
        @include transition();
        background-color: #fff;
        .nav-head {
            width: 100%;
            height: 110px;
            overflow: hidden;
            > div {
                width: 100%;
                height: 55px;
                &.nav-top {
                    position: relative;
                    padding: 0 40px 0 30px;
                    .nav-global-search {
                        position: relative;
                        width: 100%;
                        padding: 10px 0;
                        .form-group {
                            .form-control {
                                font-size: 12px;
                                color: #333;
                                height: 35px;
                                padding-right: 25px;
                                border: 1px solid #fff;
                                border-bottom: 1px solid #2d2d2d;
                            }
                        }
                        .nav-btn-search {
                            position: absolute;
                            top: 50%;
                            right: 0;
                            width: 20px;
                            height: 35px;
                            font-size: 18px;
                            color: #444;
                            text-align: center;
                            margin-top: -18px;
                            .icon-search-1 {
                                &:before {
                                    margin: 0;
                                }
                            }
                        }
                    }
                    .btn-close {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 40px;
                        height: 55px;
                        text-align: center;
                        line-height: 55px;
                        img {
                            display: inline-block;
                        }
                    }
                }
                &.member {
                    background-color: #2d2d2d;
                    > ul {
                        display: table;
                        width: 100%;
                        > li {
                            display: table-cell;
                            width: 50%;
                            height: 55px;
                            text-align: center;
                            vertical-align: middle;
                            a {
                                line-height: 18px;
                                font-size: 15px;
                                color: #fff;
                                &:before {
                                    position: relative;
                                    top: -1px;
                                    font-size: 13px;
                                    display: inline-block;
                                    content: "\E807";
                                    font-family: "fontello";
                                    margin-right: 10px;
                                }
                            }
                            &:first-child {
                                position: relative;
                                a {
                                    &:before {
                                        content: "\E806";
                                    }
                                    &:after {
                                        position: absolute;
                                        top: 50%;
                                        right: 0;
                                        display: block;
                                        content: " ";
                                        height: 18px;
                                        width: 1px;
                                        margin-top: -9px;
                                        background-color: #666;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .nav-body {
            width: 100%;
            > ul {
                > li {
                    > a {
                        display: block;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 60px;
                        padding: 0 20px 0 30px;
                        border-bottom: 1px solid #ccc;
                        &:after {
                            color: #9b9b9b;
                            font-family: "fontello";
                            content: "\F004";
                            float: right;
                        }
                    }
                    > ul {
                        display: none;
                        padding: 15px 0 15px 40px;
                        border-bottom: 1px solid #ccc;
                        background-color: #f4f5fa;
                        > li {
                            line-height: 40px;
                            > a {
                                display: inline-block;
                                font-size: 14px;
                                font-weight: 400;
                                color: #444;
                                &:before {
                                    display: inline-block;
                                    content: "- ";
                                    margin-right: 5px;
                                }
                                &:hover, &:focus {
                                    color: #0b60ae;
                                }
                            }
                        }
                    }
                    &.ibc {
                        a {
                            color: #eb6100;
                            &:after {
                                content: "" !important;
                            }
                        }
                    }
                    &.active {
                        > a {
                            color: #fff;
                            border-color: #0b60ae;
                            background-color: #0b60ae;
                            &:after {
                                color: #acc9e3;
                                content: "\F005";
                            }
                        }
                        > ul {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        .nav-wrap {
            width: 580px;
            padding-bottom: 150px;
            .nav-head {
                > div {
                    &.nav-top {
                        padding-right: 55px;
                        .btn-close {
                            width: 55px;
                        }
                    }
                }
            }
            .nav-body {
                > ul {
                    > li {
                        > a {
                            padding: 0 20px 0 20px;
                        }
                        > ul {
                            padding-left: 30px;
                        }
                    }
                }
            }
        }
    }
}
.nav-extend {
    overflow: hidden;
    #nav {
        right: 0;
        .backdrop {
            right: 0;
        }
        .nav-wrap {
            right: 0;
            overflow: auto;
        }
    }
}

// gnb
#gnb {
    position: relative;
    z-index: 100;
    float: right;
    > ul {
        float: left;
        font-size: 0;
        > li {
            display: inline-block;
            text-align: center;
            vertical-align: top;
            > a {
                font-size: 17px;
                color: #333;
                display: block;
                padding: 0 35px;
                font-weight: 400;
                line-height: 70px;
            }
            > ul {
                margin: 40px 0;
                height: 0;
                padding-top: 10px;
                border-right: 1px solid #e4e4e4;
                @include transition();
                > li {
                    margin-bottom: 20px;
                    > a {
                        position: relative;
                        display: inline-block;
                        padding: 0 3px 10px;
                        font-size: 13px;
                        line-height: 18px;
                        font-weight: 400;
                        @include transition();
                        span {
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            width: 0;
                            height: 1px;
                            @include transition();
                            background-color: #0b61ae;
                        }
                        &:hover, &:focus {
                            color: #0b61ae;
                            span {
                                width: 100%;
                                margin-left: -50%;
                            }
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            &:last-child {
                > ul {
                    border-right: 0;
                }
            }
        }
    }
    .ibc {
        float: left;
        padding: 23px 0;
        margin-right: 15px;
        > a {
            font-size: 16px;
            color: #eb6100;
            font-weight: 400;
        }
    }
}
.opened {
    #header {
        height: auto;
        .header-wrap {
            height: 430px;
            box-shadow: none;
            background-color: #f5f5f5;
            &:before {
                box-shadow: 4px 6px 7px 0px rgba(0, 0, 0, 0.06);
            }
        }
    }
    #gnb {
        > ul {
            > li {
                > ul {
                    height: 278px;
                }
            }
        }
    }
}

.scrolled {
    @media(min-width: $xl) {
        #header {
            background-color: #fff;
            box-shadow: 4px 6px 7px 0px rgba(0, 0, 0, 0.06);
            &:before {
                content: "";
                position: absolute;
                top: 50px;
                left: 0;
                width: 100%;
                z-index: 2;
                height: 70px;
                background-color: #fff;
                box-shadow: 4px 6px 7px 0px rgba(0, 0, 0, 0.06);
            }
            &:after {
                content: "";
                position: absolute;
                top: 120px;
                left: 0;
                width: 100%;
                z-index: 1;
                height: 100%;
                background-color: #f5f5f5;
            }
            .header-wrap {
                box-shadow: none;
            }
            .quick {
                .top-menu {
                    > ul {
                        > li {
                            > a {
                                color: #333;
                                &:after {
                                    color: #333;
                                }
                            }
                        }
                    }
                    .global-search {
                        .btn-search {
                            color: #333;
                        }
                    }
                }
            }
        }
    }
}



// footer 
#footer {
    text-align: center;
    padding: 40px 0 25px;
    background-color: #eee;
    .foot-logo {
        display: inline-block;
        line-height: 0;
        margin-bottom: 30px;
        img {
            width: 125px;
        }
    }
    .company-info {
        > ul {
            font-size: 0;
            > li {
                font-size: 11px;
                display: inline-block;
                line-height: 20px;
                word-break: keep-all;
                > address {
                    display: inline-block;
                    font-weight: 400;
                    letter-spacing: -.5px;
                }
                > dl {
                    display: inline-block;
                    font-size: 0;
                    > dt {
                        display: inline-block;
                        font-size: 11px;
                        font-weight: 400;
                        margin-right: 3px;
                    }
                    > dd {
                        display: inline-block;
                        font-size: 11px;
                        font-weight: 400;
                    }
                }
                &:after {
                    position: relative;
                    top: -2px;
                    font-size: 10px;
                    content: "|";
                    margin: 0 6px;
                }
                &:last-child {
                    &:after {
                        content: "";
                        margin: 0;
                    }
                }
            }
        }
        .copyright {
            font-size: 11px;
            font-weight: 400;
            line-height: 20px;
        }
    }
    @media(min-width: $md) {
        text-align: left;
        padding: 35px 0 25px;
        .foot-logo {
            margin-top: 15px;
            margin-bottom: 0;
            img {
                width: auto;
            }
        }
        .company-info {
            padding-right: 100px;
            > ul {
                > li {
                    font-size: 12px;
                    line-height: 22px;
                    > address {
                        letter-spacing: 0px;
                    }
                    > dl {
                        > dt {
                            font-size: 12px;
                        }
                        > dd {
                            font-size: 12px;
                        }
                    }
                }
            }
            .copyright {
                font-size: 12px;
                line-height: 22px;
            }
        }
    }
    @media(min-width: $lg) {
        .container {
            position: relative;
            .foot-logo {
                position: absolute;
                top: 50%;
                left: 15px;
                margin-top: -21px;
            }
        }
    }
}