@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
/*@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');*/
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import url(//cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700");
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format("opentype"); }
/*@mixin roboto() {
    font-family: 'Roboto', sans-serif;
}*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

label {
  font-weight: 400;
  margin: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button:hover, button:focus {
  box-shadow: none; }

a {
  color: inherit;
  text-decoration: none !important; }
  a:hover, a:focus {
    color: inherit;
    outline: none; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.container {
  max-width: 100%; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

body {
  position: relative;
  min-width: 320px;
  font-weight: 300;
  font-size: 12px;
  color: #666;
  word-break: keep-all;
  font-family: 'Noto Sans KR', sans-serif; }
  @media (min-width: 768px) {
    body {
      font-size: 13px; } }

/* 초기화 */
.btn {
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: none !important;
  border-radius: 0;
  background: none; }

.form-group {
  margin: 0; }

.form-control {
  border-radius: 0;
  box-shadow: none !important; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35); }
  #header .header-wrap .logo {
    display: inline-block;
    line-height: 0;
    float: left;
    margin-top: 15px; }
    #header .header-wrap .logo a {
      display: block; }
      #header .header-wrap .logo a img {
        width: 96px; }
  #header .header-wrap .quick {
    text-align: right;
    padding: 10px 0;
    padding-right: 45px; }
    #header .header-wrap .quick .pathogen-search {
      display: inline-block;
      width: 105px; }
      #header .header-wrap .quick .pathogen-search .btn-pathogen {
        position: relative;
        display: block;
        width: 100%;
        line-height: 35px;
        height: 35px;
        color: #fff;
        font-size: 12px;
        padding: 0 10px;
        text-align: left;
        border-radius: 30px;
        background-color: #ed6a10; }
        #header .header-wrap .quick .pathogen-search .btn-pathogen:after {
          position: absolute;
          top: 0;
          right: 10px;
          font-size: 11px;
          font-family: "fontello";
          content: "\E800"; }
  #header .header-wrap .btn-nav {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 35px;
    height: 35px;
    display: block;
    margin-top: -18px; }
    #header .header-wrap .btn-nav .bar {
      display: block;
      width: 20px;
      height: 2px;
      margin: 5px auto;
      background-color: #065ca9; }
  @media (min-width: 768px) {
    #header {
      height: 80px; }
      #header .header-wrap .logo {
        margin-top: 18px; }
        #header .header-wrap .logo a img {
          width: auto; }
      #header .header-wrap .quick {
        padding: 23px 0 22px;
        padding-right: 50px; }
        #header .header-wrap .quick .pathogen-search {
          width: 125px; }
          #header .header-wrap .quick .pathogen-search .btn-pathogen {
            font-size: 14px;
            padding-left: 15px; }
            #header .header-wrap .quick .pathogen-search .btn-pathogen:after {
              right: 15px; }
      #header .header-wrap .btn-nav {
        right: 20px; }
        #header .header-wrap .btn-nav .bar {
          width: 27px;
          margin: 6px auto; } }
  @media (min-width: 1200px) {
    #header {
      height: 120px;
      padding: 50px 2% 0;
      /*padding-top: 50px;*/
      box-shadow: none;
      background: none;
      overflow: hidden; }
      #header .header-wrap {
        position: relative;
        width: 100%;
        height: 70px;
        padding: 0 25px;
        overflow: hidden;
        background-color: #fff;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        box-shadow: 4px 6px 7px 0px rgba(0, 0, 0, 0.06); }
        #header .header-wrap:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 70px;
          background-color: #fff; }
        #header .header-wrap .logo {
          position: relative;
          z-index: 100;
          float: left;
          margin-top: 17px; }
          #header .header-wrap .logo a img {
            width: 130px; }
        #header .header-wrap .quick {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          margin: 0 15px;
          padding: 0 2%;
          overflow: hidden;
          text-align: left; }
          #header .header-wrap .quick .pathogen-search {
            float: left;
            padding-top: 7px; }
            #header .header-wrap .quick .pathogen-search .btn-pathogen {
              font-size: 14px; }
          #header .header-wrap .quick .top-menu {
            float: right;
            /*margin-right: 15px;
            padding-right: 2%;*/
            margin-right: 3%;
            margin-top: 15px; }
            #header .header-wrap .quick .top-menu > ul {
              float: left; }
              #header .header-wrap .quick .top-menu > ul > li {
                display: inline-block; }
                #header .header-wrap .quick .top-menu > ul > li > a {
                  display: inline-block;
                  font-size: 13px;
                  color: #fff;
                  font-family: 'Titillium Web', sans-serif; }
                #header .header-wrap .quick .top-menu > ul > li:after {
                  position: relative;
                  top: -2px;
                  color: #fff;
                  content: "|";
                  font-size: 10px;
                  margin: 0 8px 0 10px; }
                #header .header-wrap .quick .top-menu > ul > li:last-child:after {
                  content: "";
                  margin: 0; }
            #header .header-wrap .quick .top-menu .global-search {
              position: relative;
              float: left;
              padding-right: 40px; }
              #header .header-wrap .quick .top-menu .global-search .form-group {
                position: absolute;
                top: 0;
                right: 0;
                width: 300px; }
                #header .header-wrap .quick .top-menu .global-search .form-group .form-control {
                  height: 25px;
                  font-size: 12px;
                  padding: 5px;
                  padding-right: 20px;
                  border: 1px solid #fff; }
              #header .header-wrap .quick .top-menu .global-search .btn-search {
                position: absolute;
                top: 0;
                right: 0;
                height: 25px;
                width: 25px;
                color: #fff;
                font-size: 13px;
                z-index: 1; }
                #header .header-wrap .quick .top-menu .global-search .btn-search .icon-search-1:before {
                  position: relative;
                  top: 2px; }
                #header .header-wrap .quick .top-menu .global-search .btn-search.event-btn {
                  display: none; }
                #header .header-wrap .quick .top-menu .global-search .btn-search.default-btn {
                  display: block; }
              #header .header-wrap .quick .top-menu .global-search.action .btn-search {
                display: none; }
              #header .header-wrap .quick .top-menu .global-search.action .event-btn {
                top: -2px;
                color: #333;
                display: block; } }

#nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  right: -100%;
  z-index: 100; }
  #nav .backdrop {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); }
  #nav .nav-wrap {
    position: absolute;
    top: 0;
    right: -100%;
    width: 270px;
    height: 100%;
    padding-bottom: 45px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    background-color: #fff; }
    #nav .nav-wrap .nav-head {
      width: 100%;
      height: 110px;
      overflow: hidden; }
      #nav .nav-wrap .nav-head > div {
        width: 100%;
        height: 55px; }
        #nav .nav-wrap .nav-head > div.nav-top {
          position: relative;
          padding: 0 40px 0 30px; }
          #nav .nav-wrap .nav-head > div.nav-top .nav-global-search {
            position: relative;
            width: 100%;
            padding: 10px 0; }
            #nav .nav-wrap .nav-head > div.nav-top .nav-global-search .form-group .form-control {
              font-size: 12px;
              color: #333;
              height: 35px;
              padding-right: 25px;
              border: 1px solid #fff;
              border-bottom: 1px solid #2d2d2d; }
            #nav .nav-wrap .nav-head > div.nav-top .nav-global-search .nav-btn-search {
              position: absolute;
              top: 50%;
              right: 0;
              width: 20px;
              height: 35px;
              font-size: 18px;
              color: #444;
              text-align: center;
              margin-top: -18px; }
              #nav .nav-wrap .nav-head > div.nav-top .nav-global-search .nav-btn-search .icon-search-1:before {
                margin: 0; }
          #nav .nav-wrap .nav-head > div.nav-top .btn-close {
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 55px;
            text-align: center;
            line-height: 55px; }
            #nav .nav-wrap .nav-head > div.nav-top .btn-close img {
              display: inline-block; }
        #nav .nav-wrap .nav-head > div.member {
          background-color: #2d2d2d; }
          #nav .nav-wrap .nav-head > div.member > ul {
            display: table;
            width: 100%; }
            #nav .nav-wrap .nav-head > div.member > ul > li {
              display: table-cell;
              width: 50%;
              height: 55px;
              text-align: center;
              vertical-align: middle; }
              #nav .nav-wrap .nav-head > div.member > ul > li a {
                line-height: 18px;
                font-size: 15px;
                color: #fff; }
                #nav .nav-wrap .nav-head > div.member > ul > li a:before {
                  position: relative;
                  top: -1px;
                  font-size: 13px;
                  display: inline-block;
                  content: "\E807";
                  font-family: "fontello";
                  margin-right: 10px; }
              #nav .nav-wrap .nav-head > div.member > ul > li:first-child {
                position: relative; }
                #nav .nav-wrap .nav-head > div.member > ul > li:first-child a:before {
                  content: "\E806"; }
                #nav .nav-wrap .nav-head > div.member > ul > li:first-child a:after {
                  position: absolute;
                  top: 50%;
                  right: 0;
                  display: block;
                  content: " ";
                  height: 18px;
                  width: 1px;
                  margin-top: -9px;
                  background-color: #666; }
    #nav .nav-wrap .nav-body {
      width: 100%; }
      #nav .nav-wrap .nav-body > ul > li > a {
        display: block;
        font-size: 15px;
        font-weight: 400;
        line-height: 60px;
        padding: 0 20px 0 30px;
        border-bottom: 1px solid #ccc; }
        #nav .nav-wrap .nav-body > ul > li > a:after {
          color: #9b9b9b;
          font-family: "fontello";
          content: "\F004";
          float: right; }
      #nav .nav-wrap .nav-body > ul > li > ul {
        display: none;
        padding: 15px 0 15px 40px;
        border-bottom: 1px solid #ccc;
        background-color: #f4f5fa; }
        #nav .nav-wrap .nav-body > ul > li > ul > li {
          line-height: 40px; }
          #nav .nav-wrap .nav-body > ul > li > ul > li > a {
            display: inline-block;
            font-size: 14px;
            font-weight: 400;
            color: #444; }
            #nav .nav-wrap .nav-body > ul > li > ul > li > a:before {
              display: inline-block;
              content: "- ";
              margin-right: 5px; }
            #nav .nav-wrap .nav-body > ul > li > ul > li > a:hover, #nav .nav-wrap .nav-body > ul > li > ul > li > a:focus {
              color: #0b60ae; }
      #nav .nav-wrap .nav-body > ul > li.ibc a {
        color: #eb6100; }
        #nav .nav-wrap .nav-body > ul > li.ibc a:after {
          content: "" !important; }
      #nav .nav-wrap .nav-body > ul > li.active > a {
        color: #fff;
        border-color: #0b60ae;
        background-color: #0b60ae; }
        #nav .nav-wrap .nav-body > ul > li.active > a:after {
          color: #acc9e3;
          content: "\F005"; }
      #nav .nav-wrap .nav-body > ul > li.active > ul {
        display: block; }
  @media (min-width: 768px) {
    #nav .nav-wrap {
      width: 580px;
      padding-bottom: 150px; }
      #nav .nav-wrap .nav-head > div.nav-top {
        padding-right: 55px; }
        #nav .nav-wrap .nav-head > div.nav-top .btn-close {
          width: 55px; }
      #nav .nav-wrap .nav-body > ul > li > a {
        padding: 0 20px 0 20px; }
      #nav .nav-wrap .nav-body > ul > li > ul {
        padding-left: 30px; } }

.nav-extend {
  overflow: hidden; }
  .nav-extend #nav {
    right: 0; }
    .nav-extend #nav .backdrop {
      right: 0; }
    .nav-extend #nav .nav-wrap {
      right: 0;
      overflow: auto; }

#gnb {
  position: relative;
  z-index: 100;
  float: right; }
  #gnb > ul {
    float: left;
    font-size: 0; }
    #gnb > ul > li {
      display: inline-block;
      text-align: center;
      vertical-align: top; }
      #gnb > ul > li > a {
        font-size: 17px;
        color: #333;
        display: block;
        padding: 0 35px;
        font-weight: 400;
        line-height: 70px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        #gnb > ul > li > a:hover {
          color: #085eaa; }
      #gnb > ul > li > ul {
        margin: 40px 0;
        height: 0;
        padding-top: 10px;
        border-right: 1px solid #e4e4e4;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        #gnb > ul > li > ul > li {
          margin-bottom: 20px; }
          #gnb > ul > li > ul > li > a {
            position: relative;
            display: inline-block;
            padding: 0 3px 10px;
            font-size: 13px;
            line-height: 18px;
            font-weight: 400;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
            #gnb > ul > li > ul > li > a span {
              position: absolute;
              bottom: 0;
              left: 50%;
              width: 0;
              height: 1px;
              -webkit-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 0.15s;
              transition-duration: 0.15s;
              -webkit-transition-timing-function: linear;
              transition-timing-function: linear;
              -webkit-transition-delay: 0s;
              transition-delay: 0s;
              background-color: #0b61ae; }
            #gnb > ul > li > ul > li > a:hover, #gnb > ul > li > ul > li > a:focus {
              color: #0b61ae; }
              #gnb > ul > li > ul > li > a:hover span, #gnb > ul > li > ul > li > a:focus span {
                width: 100%;
                margin-left: -50%; }
          #gnb > ul > li > ul > li:last-child {
            margin-bottom: 0; }
      #gnb > ul > li:last-child > ul {
        border-right: 0; }
      #gnb > ul > li.active > a {
        color: #085eaa; }
  #gnb .ibc {
    float: left;
    padding: 15px 0;
    margin-right: 15px; }
    #gnb .ibc > a {
      font-size: 16px;
      color: #fff;
      padding: 0 10px;
      font-weight: 400;
      line-height: 40px;
      background-color: #0c7ade;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      #gnb .ibc > a:hover {
        opacity: .7; }

.opened #header {
  height: auto; }
  .opened #header .header-wrap {
    height: 430px;
    box-shadow: none;
    background-color: #f5f5f5; }
    .opened #header .header-wrap:before {
      box-shadow: 4px 6px 7px 0px rgba(0, 0, 0, 0.06); }
.opened #gnb > ul > li > ul {
  height: 278px; }

@media (min-width: 1200px) {
  .scrolled #header {
    background-color: #fff;
    box-shadow: 4px 6px 7px 0px rgba(0, 0, 0, 0.06); }
    .scrolled #header:before {
      content: "";
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      z-index: 2;
      height: 70px;
      background-color: #fff;
      box-shadow: 4px 6px 7px 0px rgba(0, 0, 0, 0.06); }
    .scrolled #header:after {
      content: "";
      position: absolute;
      top: 120px;
      left: 0;
      width: 100%;
      z-index: 1;
      height: 100%;
      background-color: #f5f5f5; }
    .scrolled #header .header-wrap {
      box-shadow: none; }
    .scrolled #header .quick .top-menu > ul > li > a {
      color: #333; }
      .scrolled #header .quick .top-menu > ul > li > a:after {
        color: #333; }
    .scrolled #header .quick .top-menu .global-search .btn-search {
      color: #333; } }

#footer {
  text-align: center;
  padding: 40px 0 25px;
  background-color: #eee; }
  #footer .foot-logo {
    display: inline-block;
    line-height: 0;
    margin-bottom: 30px; }
    #footer .foot-logo img {
      width: 125px; }
  #footer .company-info > ul {
    font-size: 0; }
    #footer .company-info > ul > li {
      font-size: 11px;
      display: inline-block;
      line-height: 20px;
      word-break: keep-all; }
      #footer .company-info > ul > li > address {
        display: inline-block;
        font-weight: 400;
        letter-spacing: -.5px; }
      #footer .company-info > ul > li > dl {
        display: inline-block;
        font-size: 0; }
        #footer .company-info > ul > li > dl > dt {
          display: inline-block;
          font-size: 11px;
          font-weight: 400;
          margin-right: 3px; }
        #footer .company-info > ul > li > dl > dd {
          display: inline-block;
          font-size: 11px;
          font-weight: 400; }
      #footer .company-info > ul > li:after {
        position: relative;
        top: -2px;
        font-size: 10px;
        content: "|";
        margin: 0 6px; }
      #footer .company-info > ul > li:last-child:after {
        content: "";
        margin: 0; }
  #footer .company-info .copyright {
    font-size: 11px;
    font-weight: 400;
    line-height: 20px; }
  @media (min-width: 768px) {
    #footer {
      text-align: left;
      padding: 35px 0 25px; }
      #footer .foot-logo {
        margin-top: 15px;
        margin-bottom: 0; }
        #footer .foot-logo img {
          width: auto; }
      #footer .company-info {
        padding-right: 100px; }
        #footer .company-info > ul > li {
          font-size: 12px;
          line-height: 22px; }
          #footer .company-info > ul > li > address {
            letter-spacing: 0px; }
          #footer .company-info > ul > li > dl > dt {
            font-size: 12px; }
          #footer .company-info > ul > li > dl > dd {
            font-size: 12px; }
        #footer .company-info .copyright {
          font-size: 12px;
          line-height: 22px; } }
  @media (min-width: 992px) {
    #footer .container {
      position: relative; }
      #footer .container .foot-logo {
        position: absolute;
        top: 50%;
        left: 15px;
        margin-top: -21px; } }

.pathogen-popup {
  padding: 0 10px; }
  .pathogen-popup .modal-dialog {
    margin: 100px auto;
    max-width: 370px; }
    @media (min-width: 1200px) {
      .pathogen-popup .modal-dialog {
        margin-top: 150px; } }
    .pathogen-popup .modal-dialog .modal-content {
      border: 0;
      border-radius: 0;
      background: none; }
      .pathogen-popup .modal-dialog .modal-content .modal-header {
        position: relative;
        border: 0;
        padding: 10px;
        border-radius: 0;
        background-color: #ed6a10; }
        .pathogen-popup .modal-dialog .modal-content .modal-header .modal-title {
          display: inline-block;
          font-size: 15px;
          color: #fff;
          font-weight: 300; }
          .pathogen-popup .modal-dialog .modal-content .modal-header .modal-title:after {
            position: relative;
            top: -2px;
            font-size: 12px;
            font-family: "fontello";
            content: "\E800";
            margin-left: 5px; }
        .pathogen-popup .modal-dialog .modal-content .modal-header .close {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 18px;
          width: 42px;
          height: 42px;
          padding: 0;
          color: #fff;
          margin: 0;
          text-shadow: none !important;
          opacity: 1 !important; }
      .pathogen-popup .modal-dialog .modal-content .modal-body {
        border: 0;
        padding: 0;
        border-radius: 0;
        background-color: #f6f6f6; }
        .pathogen-popup .modal-dialog .modal-content .modal-body .search-header {
          padding: 20px;
          border-bottom: 1px solid #ddd;
          background-color: #fff; }
          .pathogen-popup .modal-dialog .modal-content .modal-body .search-header .form-group {
            position: relative; }
            .pathogen-popup .modal-dialog .modal-content .modal-body .search-header .form-group .form-control {
              width: 100%;
              height: 52px;
              font-size: 12px;
              padding-left: 20px;
              padding-right: 55px;
              border: 1px solid #e1e1e1; }
              .pathogen-popup .modal-dialog .modal-content .modal-body .search-header .form-group .form-control::placeholder {
                color: rgba(34, 34, 34, 0.5);
                opacity: 1; }
              .pathogen-popup .modal-dialog .modal-content .modal-body .search-header .form-group .form-control:-ms-input-placeholder {
                color: rgba(34, 34, 34, 0.5); }
              .pathogen-popup .modal-dialog .modal-content .modal-body .search-header .form-group .form-control::-ms-input-placeholder {
                color: rgba(34, 34, 34, 0.5); }
              @media (min-width: 768px) {
                .pathogen-popup .modal-dialog .modal-content .modal-body .search-header .form-group .form-control {
                  font-size: 14px; } }
            .pathogen-popup .modal-dialog .modal-content .modal-body .search-header .form-group .btn-search {
              position: absolute;
              top: 0;
              right: 0;
              width: 52px;
              height: 52px;
              font-size: 16px;
              color: #222; }
        .pathogen-popup .modal-dialog .modal-content .modal-body .search-body {
          overflow-y: scroll;
          height: 200px;
          padding: 20px;
          padding-bottom: 0; }
          @media (min-width: 768px) {
            .pathogen-popup .modal-dialog .modal-content .modal-body .search-body {
              height: 350px; } }
          @media (min-width: 1200px) {
            .pathogen-popup .modal-dialog .modal-content .modal-body .search-body {
              height: 425px; } }
          .pathogen-popup .modal-dialog .modal-content .modal-body .search-body .no-resultant {
            font-size: 15px;
            color: rgba(51, 51, 51, 0.5);
            text-align: center; }
          .pathogen-popup .modal-dialog .modal-content .modal-body .search-body dl {
            font-size: 14px;
            color: #333;
            overflow: hidden; }
            .pathogen-popup .modal-dialog .modal-content .modal-body .search-body dl dt {
              float: left;
              width: 62px;
              display: inline-block;
              font-weight: 400; }
              .pathogen-popup .modal-dialog .modal-content .modal-body .search-body dl dt:after {
                position: relative;
                top: -1px;
                content: ":";
                margin: 0 3px; }
            .pathogen-popup .modal-dialog .modal-content .modal-body .search-body dl dd {
              font-weight: 400;
              padding-left: 62px; }
          .pathogen-popup .modal-dialog .modal-content .modal-body .search-body .result-list {
            margin: 20px 0; }
            .pathogen-popup .modal-dialog .modal-content .modal-body .search-body .result-list li {
              border: 1px solid #e1e1e1;
              background-color: #fff; }
              .pathogen-popup .modal-dialog .modal-content .modal-body .search-body .result-list li ~ li {
                margin-top: 10px; }
              .pathogen-popup .modal-dialog .modal-content .modal-body .search-body .result-list li a {
                display: table;
                width: 100%;
                font-size: 13px;
                table-layout: fixed; }
                .pathogen-popup .modal-dialog .modal-content .modal-body .search-body .result-list li a h5 {
                  display: table-cell;
                  height: 58px;
                  font-size: 10px;
                  color: #333;
                  font-weight: 300;
                  line-height: 20px;
                  padding-left: 15px;
                  word-break: keep-all;
                  vertical-align: middle; }
                  @media (min-width: 768px) {
                    .pathogen-popup .modal-dialog .modal-content .modal-body .search-body .result-list li a h5 {
                      font-size: 13px; } }
                .pathogen-popup .modal-dialog .modal-content .modal-body .search-body .result-list li a .risk-person {
                  display: table-cell;
                  width: 100px;
                  vertical-align: middle; }
                  .pathogen-popup .modal-dialog .modal-content .modal-body .search-body .result-list li a .risk-person p {
                    display: block;
                    color: #fff;
                    width: 85px;
                    height: 30px;
                    font-size: 11px;
                    margin: 0 auto;
                    text-align: center;
                    line-height: 30px;
                    font-weight: 300;
                    border-radius: 30px;
                    background-color: #ed6a10; }
                    @media (min-width: 768px) {
                      .pathogen-popup .modal-dialog .modal-content .modal-body .search-body .result-list li a .risk-person p {
                        font-size: 12px; } }

/*# sourceMappingURL=default.css.map */
