@import 'common';

//공통
.etc-company {
    .page-header {
        padding: 53px 0;
        background-image: url(/assets/images/etc_company/bg_page_header.jpg);
        @media(min-width: $md) {
            padding: 80px 0;
        }
        @media(min-width: $xl) {
            padding: 200px 0 90px;
        }
    }
}


// lnb-list
.lnb-list {
    > ul {
        font-size: 0;
        > li {
            display: inline-block;
            text-align: center;
            width: 33.33%;
            vertical-align: top;
            a {
                font-size: 13px;
                display: block;
                color: #999;
				width: 100%;
                line-height: 45px;
                border: 1px solid #bababa;
                border-left: 0;
                border-top: 0;
                @include transition();
                &:hover {
                    color: #fff;
                    background-color: #085eaa;
                    opacity: .8;
                }
            }
            &.active {
                a {
                    color: #fff;
                    background-color: #085eaa;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            &:nth-of-type(3n + 1) {
                a {
                    border-left: 1px solid #bababa;
                }
            }
            &:nth-of-type(1),&:nth-of-type(2),&:nth-of-type(3) {
                a {
                    border-top: 1px solid #bababa;
                }
            }
        }
    }
    @media(min-width: $md) {
        > ul {
            > li {
                a {
                    font-size: 15px;
                    line-height: 55px;
                }
            }
        } 
    }
    @media(min-width: $xl) {
        > ul {
            display: table;
            width: 100%;
			table-layout: fixed;
            > li {
                display: table-cell;
                width: 1%;
                a {
                    font-size: 16px;
                    line-height: 55px;
                    border-bottom: 1px solid #bababa;
                    border-top: 1px solid #bababa;
                    border-left: 0 !important;
                }
                &:first-child {
                    a {
                        border-left: 1px solid #bababa !important;
                    }
                }
            }
        }
    }
}

// 설계, 시공 리스트
.construct-list {
	.news-list {
		border-top: 2px solid #030303;
		> li {
			padding-bottom: 20px;
			border-bottom: 1px solid #dfdfdf;
			& ~ li {
				padding-top: 30px;
			}
			&:first-child {
				padding-top: 10px;
			}
			.items {
				border: 1px solid #e1e1e1;
				img {
					width: 100%;
				}
			}
			.details {
				padding-top: 25px;
				h5 {
					font-size: 16px;
					color: #333;
					line-height: 24px;
					font-weight: 400;
					a {
						display: block;
						width: 100%;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}
				.info {
					font-size: 0;
					margin-top: 20px;
					li {
						display: inline-block;
						font-size: 13px;
						color: #999;
						line-height: 24px;
						&:after {
							position: relative;
							top: -2px;
							font-size: 10px;
							content: "|";
							margin: 0 10px;
						}
						&.call {
							&:before {
								content: "\E809";
								font-family: "fontello";
								font-size: 12px;
								margin-right: 3px;
							}
						}
						&.mail {
							&:before {
								content: "\E808";
								font-family: "fontello";
								font-size: 12px;
								margin-right: 3px;
							}
						}
						&:last-child {
							&:after {
								display: none;
							}
						}
					}
				}
				p {
					font-size: 13px;
					color: #666;
					line-height: 22px;
					margin-top: 25px;
				}
				.bottom-logo {
					text-align: right;
					height: 36px;
					margin-top: 35px;
					padding-right: 50px;
					background-image: url(/assets/images/etc_company/img_logo_lavel.jpg);
					background-repeat: no-repeat;
					background-position: top right;
				}
			}
		}
	}
	.paging {
		margin-top: 40px;
	}
	@media ( min-width: $md ) {
		.news-list {
			> li {
				position: relative;
				padding-left: 290px;
				padding-bottom: 30px;
				&:first-child {
					padding-top: 30px;
				}
				.items {
					position: absolute;
					top: 30px;
					left: 0;
					width: 250px;
					height: 215px;
					img {
						height: 100%;
					}
				}
				.details {
					padding-top: 0;
					h5 {
						font-size: 20px;
						line-height: 30px;
						padding-top: 15px;
					}
					.info {
						margin-top: 25px;
						li {
							&:after {
								margin: 0 10px;
							} 
						}
					}
					p {
						font-size: 14px;
					}
					.bottom-logo {
						display: inline-block;
						text-align: left;
						margin-top: 50px;
					}
				}
			}
		}
		.paging {
			margin-top: 50px;
		}
	}
	@media ( min-width: $xl ) {
		.news-list {
			> li {
				overflow: hidden;
				min-height: 230px;
				padding-left: 370px;
				padding-bottom: 25px;
				&:first-child {
					padding-top: 25px;
				}
				.items {
					top: 20px;
					width: 300px;
					height: 185px;
				}
				.details {
					width: 600px;
					.bottom-logo {
						position: absolute;
						top: 50%;
						right: 0;
						margin-top: -18px;
					}
				}
			}
		}
	}
}
 
//설계, 시공 페이지 view
.construct-view {
	.section-content {
		article {
			.article-header {
				padding: 20px 10px;
				border-top: 2px solid #030303;
				border-bottom: 1px solid #d6d6d6;
				h5 {
					font-size: 15px;
					color: #333;
					line-height: 24px;
					font-weight: 400;
				}
			}
			.article-content {
				padding-top: 30px;
				figure {
					/*height: 215px;*/
					text-align: center;
					padding-bottom: 30px;
					img {
						margin: 0 auto;
						border: 1px solid #e1e1e1;
					}
				}
				.table-wrap {
					border-top: 1px solid #333; 
					.table {
						tr {
							th {
								min-width: 110px;
								font-size: 12px;
								color: #666;
								line-height: 18px;
								font-weight: 400;
								padding: 20px 10px;
								vertical-align: middle;
								border-bottom: 1px solid #d6d6d6;
								background-color: #fafafa;
							}
							td {
								font-size: 13px;
								color: #666;
								font-weight: 300;
								vertical-align: middle;
								padding: 0;  
								padding-left: 30px;
								border-bottom: 1px solid #d6d6d6;
							}
						}
					}
					.btn-area {
						text-align: right;
						margin-top: 20px;
						p {
							.btn-default {
								width: 110px;
								font-size: 13px;
								color: #fff;
								text-align: center;
								line-height: 40px;
								background-color: #085eaa;
							}
						}
					}
				}
			}
		}
		@media ( min-width: $md ) {
			article {
				.article-header {
					padding: 20px 15px;
				}
				.article-content {
					padding-top: 50px;
					figure {
						padding-bottom: 60px;
					}
					.table-wrap {
						.table {
							tr {
								th {
									width: 185px;
									font-size: 13px;
									padding: 20px 20px;
								}
								td {
									padding-left: 35px;
								}
							}
						}
						.btn-area {
							margin-top: 30px;
							p {
								.btn-default {
									width: 150px;
									font-size: 15px;
									line-height: 50px;
								}
							}
						}
					}
				}
			}
		}
		@media ( min-width: $xl ) {
			article {
				.article-header {
					border-top: 3px solid #030303;
				}
				.article-content {
					figure {
						padding-bottom: 70px;
					}
					.table-wrap {
						.table {
							tr {
								th {
									width: 215px;
									font-size: 14px;
									padding-left: 30px;
									padding-right: 0; 
								}
								td {
									padding-left: 40px;
								}
							}
						}
						.btn-area {
							margin-top: 40px;
						}
					}
				}
			}
		}
	}
}






