@import 'common';

//공통
.etc-company {
    .page-header {
        padding: 53px 0;
        background-image: url(/assets/images/etc_company/bg_page_header.jpg);
        @media(min-width: $md) {
            padding: 80px 0;
        }
        @media(min-width: $xl) {
            padding: 200px 0 90px;
        }
    }
}


// lnb-list
.lnb-list {
    > ul {
        font-size: 0;
        > li {
            display: inline-block;
            text-align: center;
            width: 33.33%;
            vertical-align: top;
            a {
                font-size: 13px;
                display: block;
                color: #999;
				width: 100%;
                line-height: 45px;
                border: 1px solid #bababa;
                border-left: 0;
                border-top: 0;
                @include transition();
                &:hover {
                    color: #fff;
                    background-color: #085eaa;
                    opacity: .8;
                }
            }
            &.active {
                a {
                    color: #fff;
                    background-color: #085eaa;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            &:nth-of-type(3n + 1) {
                a {
                    border-left: 1px solid #bababa;
                }
            }
            &:nth-of-type(1),&:nth-of-type(2),&:nth-of-type(3) {
                a {
                    border-top: 1px solid #bababa;
                }
            }
        }
    }
    @media(min-width: $md) {
        > ul {
            > li {
                a {
                    font-size: 15px;
                    line-height: 55px;
                }
            }
        } 
    }
    @media(min-width: $xl) {
        > ul {
            display: table;
            width: 100%;
			table-layout: fixed;
            > li {
                display: table-cell;
                width: 1%;
                a {
                    font-size: 16px;
                    line-height: 55px;
                    border-bottom: 1px solid #bababa;
                    border-top: 1px solid #bababa;
                    border-left: 0 !important;
                }
                &:first-child {
                    a {
                        border-left: 1px solid #bababa !important;
                    }
                }
            }
        }
    }
}

// 설계, 시공 리스트
.construct-list {
    .section-header {
        .btn-area {
            width: 100%;
            margin-top: 20px;
            p {
                .btn-md {
                    width: 100%;
                    text-align: center;
                }
            }
        }
        @media(min-width: $md) {
            position: relative;
            .btn-area {
                width: auto;
                margin: 0;
                p {
                    .btn-md {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        width: 150px;
                        margin-top: -25px;
                    }
                }
            }
        }
        @media(min-width: $xl) {
            .btn-area {
                p {
                    .btn-md {
                        width: 180px;
                    }
                }
            }
        }
    }
	.news-list {
		border-top: 2px solid #030303;
		> li {
			padding-bottom: 20px;
			border-bottom: 1px solid #dfdfdf;
			& ~ li {
				padding-top: 30px;
			}
			&:first-child {
				padding-top: 10px;
			}
			.items {
				border: 1px solid #e1e1e1;
				img {
					width: 100%;
				}
			}
			.details {
				padding-top: 25px;
				h5 {
					font-size: 16px;
					color: #333;
					line-height: 24px;
					font-weight: 400;
					a {
						display: block;
						width: 100%;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}
				.info {
					font-size: 0;
					margin-top: 20px;
					li {
						display: inline-block;
						font-size: 13px;
						color: #999;
						line-height: 24px;
						&:after {
							position: relative;
							top: -2px;
							font-size: 10px;
							content: "|";
							margin: 0 10px;
						}
						&.call {
							&:before {
								content: "\E809";
								font-family: "fontello";
								font-size: 12px;
								margin-right: 3px;
							}
						}
						&.mail {
							&:before {
								content: "\E808";
								font-family: "fontello";
								font-size: 12px;
								margin-right: 3px;
							}
						}
						&:last-child {
							&:after {
								display: none;
							}
						}
					}
				}
				p {
					font-size: 13px;
					color: #666;
					line-height: 22px;
					margin-top: 25px;
				}
				.bottom-logo {
					text-align: right;
					height: 36px;
					margin-top: 35px;
					padding-right: 50px;
					background-image: url(/assets/images/etc_company/img_logo_lavel.jpg);
					background-repeat: no-repeat;
					background-position: top right;
				}
			}
		}
	}
	.paging {
		margin-top: 40px;
	}
	@media(min-width: $md) {
		.news-list {
			> li {
				position: relative;
				padding-left: 290px;
				padding-bottom: 30px;
				&:first-child {
					padding-top: 30px;
				}
				.items {
					position: absolute;
					top: 30px;
					left: 0;
					width: 250px;
					height: 215px;
					img {
						height: 100%;
					}
				}
				.details {
					padding-top: 0;
					h5 {
						font-size: 20px;
						line-height: 30px;
						padding-top: 15px;
					}
					.info {
						margin-top: 25px;
						li {
							&:after {
								margin: 0 10px;
							} 
						}
					}
					p {
						font-size: 14px;
					}
					.bottom-logo {
						display: inline-block;
						text-align: left;
						margin-top: 50px;
					}
				}
			}
		}
		.paging {
			margin-top: 50px;
		}
	}
	@media(min-width: $xl) {
		.news-list {
			> li {
				overflow: hidden;
				min-height: 230px;
				padding-left: 370px;
				padding-bottom: 25px;
				&:first-child {
					padding-top: 25px;
				}
				.items {
					top: 20px;
					width: 300px;
					height: 185px;
				}
				.details {
					width: 600px;
					.bottom-logo {
						position: absolute;
						top: 50%;
						right: 0;
						margin-top: -18px;
					}
				}
			}
		}
	}
}
 
//설계, 시공 페이지 view
.construct-view {
	.section-content {
		article {
			.article-header {
				padding: 20px 10px;
				border-top: 2px solid #030303;
				border-bottom: 1px solid #d6d6d6;
				h5 {
					font-size: 15px;
					color: #333;
					line-height: 24px;
					font-weight: 400;
				}
			}
			.article-content {
				padding-top: 30px;
				figure {
					text-align: center;
					padding-bottom: 30px;
					img {
                        width: 100%;
						margin: 0 auto;
					}
				}
				.table-wrap {
					border-top: 1px solid #333; 
					.table {
						tr {
							th {
								min-width: 110px;
								font-size: 12px;
								color: #666;
								line-height: 18px;
								font-weight: 400;
								padding: 20px 10px;
								vertical-align: middle;
								border-bottom: 1px solid #d6d6d6;
								background-color: #fafafa;
							}
							td {
								font-size: 13px;
								color: #666;
								font-weight: 300;
								vertical-align: middle;
								padding: 0;  
								padding-left: 30px;
								border-bottom: 1px solid #d6d6d6;
							}
						}
					}
					.btn-area {
						text-align: right;
						margin-top: 20px;
						p {
							margin-top: 20px;
							.btn {
								&.btn-xs {
									width: 48%;
									color: #666;
									line-height: 36px;
									text-align: center;
									margin-right: 4%;
									&:last-child {
										margin-right: 0;
									}
								}
								&.btn-default {
									width: 110px;
									font-size: 13px;
									color: #fff;
									text-align: center;
									line-height: 40px;
									background-color: #085eaa;
								}
							}
						}
					}
				}
			}
		}
		@media(min-width: $md) {
			article {
				.article-header {
					padding: 20px 15px;
				}
				.article-content {
					padding-top: 50px;
					figure {
						padding-bottom: 60px;
					}
					.table-wrap {
						.table {
							tr {
								th {
									width: 185px;
									font-size: 13px;
									padding: 20px 20px;
								}
								td {
									padding-left: 35px;
								}
							}
						}
						.btn-area {
							overflow: hidden;
							margin-top: 30px;
							p {
								&:first-child {
									float: left;
								}
								&:nth-of-type(2) {
									float: right;
								}
								.btn {
									&.btn-xs {
										width: 120px;
										margin-right: 10px;
										line-height: 50px;
									}	
									&.btn-sm {
										width: 120px;
										margin-right: 10px;
										&:last-child {
											margin-right: 0;
										}
									}
									&.btn-sm-bl {
										float: none;
									}
								}
							}
						}
					}
				}
			}
		}
		@media(min-width: $xl) {
			article {
				.article-header {
					border-top: 3px solid #030303;
				}
				.article-content {
					figure {
						padding-bottom: 70px;
					}
					.table-wrap {
						.table {
							tr {
								th {
									width: 215px;
									font-size: 14px;
									padding-left: 30px;
									padding-right: 0; 
								}
								td {
									padding-left: 40px;
								}
							}
						}
						.btn-area {
							margin-top: 40px;
							p {
								.btn {
									&.btn-xs {
										width: 150px;
										margin-right: 15px;
										line-height: 50px;
									}	
									&.btn-sm {
										width: 150px;
										margin-right: 15px;
										&:last-child {
											margin-right: 0;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// 등록하기
.construct-write {
    .section-content {
        .write-form {
            .table-wrap {
                .table {
                    table-layout: fixed;
                    border-top: 1px solid #000;
                    tbody {
                        tr {
                            th {
                                width: 120px;
                                font-size: 13px;
                                color: #333;
                                font-weight: 400;
                                padding-left: 10px;
                                vertical-align: middle;
                                border: 0;
                                border-bottom: 1px solid #dfdfdf;
                                background-color: #f8f8f8;
                            }
                            td {
                                padding: 10px;
                                height: 56px;
                                vertical-align: middle;
                                border: 0;
                                border-bottom: 1px solid #dfdfdf;
                                .form-group {
                                    .form-control {
                                        width: 100%;
                                        height: 35px;
                                        font-size: 13px;
                                    }
                                    textarea {
                                        width: 100% !important;
                                        height: 150px !important;
                                    }
                                }
                                &.attach {
                                    .form-group {
                                        position: relative;
                                        padding-right: 80px;
                                        .file {
                                            width: 100%;
                                        }
                                        .form-control {
                                            background-color: #fff !important;
                                        }
                                        input[type='button'] {
                                            position: absolute;
                                            top: 0;
                                            right: 0;
                                            font-size: 13px;
                                            color: #fff;
                                            font-weight: 300;
                                            text-align: center;
                                            width: 70px;
                                            height: 35px;
                                            line-height: 35px;
                                            text-align: center;
                                            border: 0;
                                            cursor: pointer;
                                            background-color: #ccc;
                                        }
                                        input[type='file'] {
                                            display: none !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .btn-area {
                margin-top: 30px;
                p {
                    font-size: 0;
                    .btn-md {
                        width: 48%;
                        font-size: 14px;
                        color: #fff;
                        height: 50px;
                        line-height: 50px;
                        margin-right: 4%;
                        &:last-child {
                            margin-right: 0;
                        }
                        &.btn-orange {
                            background-color: #ed6a10;
                        }
                        &.btn-gray {
                            background-color: #999;
                        }
                    }
                }
            }
        }
        @media(min-width: $md) {
            .write-form {
                .table-wrap {
                    .table {
                        tbody {
                            tr {
                                th {
                                    width: 200px;
                                    font-size: 14px;
                                    line-height: 20px;
                                    padding-left: 20px;
                                }
                                td {
                                    font-size: 14px;
                                    padding-left: 20px;
                                    padding-right: 20px;
                                    .form-group {
                                        .form-control {
                                            font-size: 14px;
                                        }
                                    }
                                    &.attach {
                                        .form-group {
                                            position: relative;
                                            width: 450px;
                                            padding-right: 100px;
                                            input[type='button'] {
                                                width: 90px;
                                                font-size: 14px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .btn-area {
                    text-align: center;
                    margin-top: 60px;
                    p {
                        .btn-md {
                            font-size: 16px;
                            width: 200px;
                            height: 65px;
                            line-height: 65px;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        @media(min-width: $xl) {
            .write-form {
                .btn-area {
                    margin-top: 50px;
                }
            }
        }
    }
}




