@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
/*@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');*/
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import url(//cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700");
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format("opentype"); }
/*@mixin roboto() {
    font-family: 'Roboto', sans-serif;
}*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

label {
  font-weight: 400;
  margin: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button:hover, button:focus {
  box-shadow: none; }

a {
  color: inherit;
  text-decoration: none !important; }
  a:hover, a:focus {
    color: inherit;
    outline: none; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.container {
  max-width: 100%; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.etc-company .page-header {
  padding: 53px 0;
  background-image: url(/assets/images/etc_company/bg_page_header.jpg); }
  @media (min-width: 768px) {
    .etc-company .page-header {
      padding: 80px 0; } }
  @media (min-width: 1200px) {
    .etc-company .page-header {
      padding: 200px 0 90px; } }

.lnb-list > ul {
  font-size: 0; }
  .lnb-list > ul > li {
    display: inline-block;
    text-align: center;
    border: 1px solid #bababa;
    border-left: 0;
    border-top: 0;
    width: 33.33%; }
    .lnb-list > ul > li a {
      font-size: 13px;
      display: block;
      color: #999;
      width: 100%;
      line-height: 45px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .lnb-list > ul > li a:hover {
        color: #fff;
        background-color: #085eaa;
        opacity: .8; }
    .lnb-list > ul > li.active a {
      color: #fff;
      background-color: #085eaa; }
      .lnb-list > ul > li.active a:hover {
        opacity: 1; }
    .lnb-list > ul > li:nth-of-type(3n + 1) {
      border-left: 1px solid #bababa; }
    .lnb-list > ul > li:nth-of-type(1), .lnb-list > ul > li:nth-of-type(2), .lnb-list > ul > li:nth-of-type(3) {
      border-top: 1px solid #bababa; }
@media (min-width: 768px) {
  .lnb-list > ul > li a {
    font-size: 15px;
    line-height: 55px; } }
@media (min-width: 1200px) {
  .lnb-list > ul {
    display: table;
    width: 100%;
    table-layout: fixed; }
    .lnb-list > ul > li {
      display: table-cell;
      width: 1%;
      border-bottom: 1px solid #bababa;
      border-top: 1px solid #bababa;
      border-left: 0 !important; }
      .lnb-list > ul > li a {
        font-size: 16px;
        line-height: 55px; }
      .lnb-list > ul > li:first-child {
        border-left: 1px solid #bababa !important; } }

.construct-list .news-list {
  border-top: 2px solid #030303; }
  .construct-list .news-list > li {
    padding-bottom: 20px;
    border-bottom: 1px solid #dfdfdf; }
    .construct-list .news-list > li ~ li {
      padding-top: 30px; }
    .construct-list .news-list > li:first-child {
      padding-top: 10px; }
    .construct-list .news-list > li .items {
      border: 1px solid #e1e1e1; }
      .construct-list .news-list > li .items img {
        width: 100%; }
    .construct-list .news-list > li .details {
      padding-top: 25px; }
      .construct-list .news-list > li .details h5 {
        font-size: 16px;
        color: #333;
        line-height: 24px;
        font-weight: 400; }
        .construct-list .news-list > li .details h5 a {
          display: block;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
      .construct-list .news-list > li .details .info {
        font-size: 0;
        margin-top: 20px; }
        .construct-list .news-list > li .details .info li {
          display: inline-block;
          font-size: 13px;
          color: #999;
          line-height: 24px; }
          .construct-list .news-list > li .details .info li:after {
            position: relative;
            top: -2px;
            font-size: 10px;
            content: "|";
            margin: 0 5px; }
          .construct-list .news-list > li .details .info li.call:before {
            content: "\E809";
            font-family: "fontello";
            font-size: 12px;
            margin-right: 3px; }
          .construct-list .news-list > li .details .info li.mail:before {
            content: "\E808";
            font-family: "fontello";
            font-size: 12px;
            margin-right: 3px; }
          .construct-list .news-list > li .details .info li:last-child:after {
            display: none; }
      .construct-list .news-list > li .details p {
        font-size: 13px;
        color: #666;
        line-height: 22px;
        margin-top: 25px; }
      .construct-list .news-list > li .details .bottom-logo {
        text-align: right;
        height: 36px;
        margin-top: 35px;
        padding-right: 50px;
        background-image: url(/assets/images/etc_company/img_logo_lavel.jpg);
        background-repeat: no-repeat;
        background-position: top right; }
.construct-list .paging {
  margin-top: 40px; }
@media (min-width: 768px) {
  .construct-list .news-list > li {
    position: relative;
    padding-left: 290px;
    padding-bottom: 30px; }
    .construct-list .news-list > li:first-child {
      padding-top: 30px; }
    .construct-list .news-list > li .items {
      position: absolute;
      top: 30px;
      left: 0;
      width: 250px;
      height: 215px; }
      .construct-list .news-list > li .items img {
        height: 100%; }
    .construct-list .news-list > li .details {
      padding-top: 0; }
      .construct-list .news-list > li .details h5 {
        font-size: 20px;
        line-height: 30px;
        padding-top: 15px; }
      .construct-list .news-list > li .details .info {
        margin-top: 25px; }
        .construct-list .news-list > li .details .info li:after {
          margin: 0 10px; }
      .construct-list .news-list > li .details p {
        font-size: 14px; }
      .construct-list .news-list > li .details .bottom-logo {
        display: inline-block;
        text-align: left;
        margin-top: 50px; }
  .construct-list .paging {
    margin-top: 50px; } }
@media (min-width: 1200px) {
  .construct-list .news-list > li {
    overflow: hidden;
    min-height: 230px;
    padding-left: 370px;
    padding-bottom: 25px; }
    .construct-list .news-list > li:first-child {
      padding-top: 25px; }
    .construct-list .news-list > li .items {
      top: 20px;
      width: 300px;
      height: 185px; }
    .construct-list .news-list > li .details {
      width: 600px; }
      .construct-list .news-list > li .details .bottom-logo {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -18px; } }

.construct-view .section-content article .article-header {
  padding: 20px 10px;
  border-top: 2px solid #030303;
  border-bottom: 1px solid #d6d6d6; }
  .construct-view .section-content article .article-header h5 {
    font-size: 15px;
    color: #333;
    line-height: 24px;
    font-weight: 400; }
.construct-view .section-content article .article-content {
  padding-top: 30px; }
  .construct-view .section-content article .article-content figure {
    /*height: 215px;*/
    text-align: center;
    padding-bottom: 30px; }
    .construct-view .section-content article .article-content figure img {
      margin: 0 auto;
      border: 1px solid #e1e1e1; }
  .construct-view .section-content article .article-content .table-wrap {
    border-top: 1px solid #333; }
    .construct-view .section-content article .article-content .table-wrap .table tr th {
      min-width: 110px;
      font-size: 12px;
      color: #666;
      line-height: 18px;
      font-weight: 400;
      padding: 20px 10px;
      vertical-align: middle;
      border-bottom: 1px solid #d6d6d6;
      background-color: #fafafa; }
    .construct-view .section-content article .article-content .table-wrap .table tr td {
      font-size: 13px;
      color: #666;
      font-weight: 300;
      vertical-align: middle;
      padding: 0;
      padding-left: 30px;
      border-bottom: 1px solid #d6d6d6; }
    .construct-view .section-content article .article-content .table-wrap .btn-area {
      text-align: right;
      margin-top: 20px; }
      .construct-view .section-content article .article-content .table-wrap .btn-area p .btn-default {
        width: 110px;
        font-size: 13px;
        color: #fff;
        text-align: center;
        line-height: 40px;
        background-color: #085eaa; }
@media (min-width: 768px) {
  .construct-view .section-content article .article-header {
    padding: 20px 15px; }
  .construct-view .section-content article .article-content {
    padding-top: 50px; }
    .construct-view .section-content article .article-content figure {
      padding-bottom: 60px; }
    .construct-view .section-content article .article-content .table-wrap .table tr th {
      width: 185px;
      font-size: 13px;
      padding: 20px 20px; }
    .construct-view .section-content article .article-content .table-wrap .table tr td {
      padding-left: 35px; }
    .construct-view .section-content article .article-content .table-wrap .btn-area {
      margin-top: 30px; }
      .construct-view .section-content article .article-content .table-wrap .btn-area p .btn-default {
        width: 150px;
        font-size: 15px;
        line-height: 50px; } }
@media (min-width: 1200px) {
  .construct-view .section-content article .article-header {
    border-top: 3px solid #030303; }
  .construct-view .section-content article .article-content figure {
    padding-bottom: 70px; }
  .construct-view .section-content article .article-content .table-wrap .table tr th {
    width: 215px;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 0; }
  .construct-view .section-content article .article-content .table-wrap .table tr td {
    padding-left: 40px; }
  .construct-view .section-content article .article-content .table-wrap .btn-area {
    margin-top: 40px; } }

/*# sourceMappingURL=etc_company.css.map */
