@import 'common';

.ibc {
    .page-header {
        padding: 53px 0;
        /*background-image: url(/assets/images/ibc/bg_page_header.jpg);*/
        @media(min-width: $md) {
            padding: 80px 0;
        }
        @media(min-width: $xl) {
            padding: 200px 0 90px;
        }
    }
}

.lnb-list {
    > ul {
        font-size: 0;
        > li {
            display: inline-block;
            width: 50%;
            text-align: center;
            vertical-align: top;
            a {
                font-size: 13px;
                display: block;
                color: #999;
                line-height: 45px;
                border: 1px solid #bababa;
                border-right: 0;
                border-top: 0;
                @include transition();
                &:hover {
                    color: #fff;
                    background-color: #085eaa;
                    opacity: .8;
                }
            }
            &.active {
                a {
                    color: #fff;
                    background-color: #085eaa;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            &:nth-of-type(2),&:nth-of-type(4) {
                a {
                    border-right: 1px solid #bababa;
                }
            }
            &:nth-of-type(1),&:nth-of-type(2) {
                a {
                    border-top: 1px solid #bababa;
                }
            }
        }
    }
    @media(min-width: $md) {
        > ul {
            display: table;
            width: 100%;
            > li {
                display: table-cell;
                width: 1%;
                a {
                    font-size: 15px;
                    line-height: 55px;
                    border-bottom: 1px solid #bababa;
                    border-top: 1px solid #bababa;
                    border-right: 0 !important;
                }
                &:last-child {
                    a {
                        border-right: 1px solid #bababa !important;
                    }
                }
            }
        }
    }
    @media(min-width: $xl) {
        > ul {
            > li {
                a {
                    font-size: 16px;
                }
            }
        }
    }
}

// ibc 위원회
.ibc-member {
    .section-content {
        border-top: 2px solid #333;
        > ul {
            > li {
                padding: 10px 0 10px 20px;
                border-bottom: 1px solid #e5e5e5;
                > div {
                    > h5 {
                        font-size: 16px;
                        color: #333;
                        font-weight: 400;
                        small {
                            font-size: 13px;
                            color: #666;
                            display: inline-block;
                            margin: 0 8px;
                        }
                    }
                    > p {
                        font-size: 13px;
                        color: #999;
                        display: inline-block;
                        font-weight: 400;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        .section-content {
            > ul {
                position: relative;
                overflow: hidden;
                > li {
                    float: left;
                    width: 50%;
                    padding: 30px 0 30px 20px;
                    &:nth-of-type(2n + 1) {
                        clear: both;
                    }
                    &:nth-of-type(2n + 2) {
                        > div {
                            border-right: 0;
                        }
                    }
                    &:last-child {
                        > div {
                            border-right: 0 !important;
                        }
                        &:after {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 1px;
                            content: "";
                            display: block;
                            background-color: #e5e5e5;
                        }
                    }
                    > div {
                        min-height: 62px;
                        border-right: 1px solid #e5e5e5;
                        h5 {
                            font-size: 18px;
                            small {
                                font-size: 14px;
                            }
                            .ico-facebook {
                                font-size: 14px;
                            }
                        }
                        > p {
                            font-size: 14px;
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $xl) {
        .section-content {
            > ul {
                > li {
                    width: 25%;
                    &:nth-of-type(2n + 1) {
                        clear: none;
                    }
                    &:nth-of-type(2n + 2) {
                        > div {
                            border-right: 1px solid #e5e5e5;
                        }
                    }
                    &:nth-of-type(4n + 1) {
                        clear: both;
                    }
                    &:nth-of-type(4n + 4) {
                        > div {
                            border-right: 0;
                        }
                    }
                }
            }
        }
    }
}

//member popup
.member-popup {
    padding-left: 10px !important;
    padding-bottom: 150px;
    padding-right: 10px !important;
    background-color: rgba(0, 0, 0, 0.6);
	.modal-dialog {
		max-width: 100%;
		margin: 50px auto 0;
		.modal-content {
			border: 0;
			border-radius: 0;
			.modal-header {
				position: relative;
				padding: 0;
				border: 0;
				border-radius: 0;
				height: 50px;
				padding-top: 15px;
				padding-left: 10px;
				background-color: #ed6a10;
				.modal-title {
					font-size: 14px;
					color: #fff;
					font-weight: 400;
					&:before {
						content: "\E80D";
						font-family: "fontello";
						font-size: 14px;
						margin-right: 10px;
					}
				}
				.close {
					position: absolute;
					top: 0;
					right: 0;
					padding: 0;
					margin: 0;
					font-size: 35px;
					line-height: 50px;
					text-shadow: none;
					opacity: 1;
					width: 50px;
					height: 50px;
					color: #fff;
					span {
						position: relative;
						top: -3px;
					}
				}
			}
			.modal-body {
				padding: 0;
				padding: 40px 10px 50px;
				.table-wrap {
					width: 100%;
					overflow: hidden;
					word-break: normal;
					border-top: 3px solid #ed6a10;
					border-bottom: 1px solid #000;
					.table {
						margin: 0;
						tr {
							th {
								width: 120px;
								font-size: 13px;
								color: #444;
								font-weight: 300;
								padding: 17px 0 17px 10px;
								border-bottom: 1px solid #d6d6d6;
								background-color: #f5f5f5;
							}
							td {
								padding: 0;
								padding-left: 15px;
								padding-right: 15px;
								font-size: 13px;
								color: #999;
								font-weight: 300;
								vertical-align: middle;
								border-bottom: 1px solid #d6d6d6;
							}
						}
					}
				}
			}
		}
	}
	@media ( min-width: $md ) {
		.modal-dialog {
			max-width: 720px;
			margin: 100px auto 0;
			.modal-content {
				.modal-header {
					padding-left: 20px;
					.modal-title {
						font-size: 15px;
						&:before {
							font-size: 15px;
						}
					}
				}
				.modal-body {
					padding: 40px 20px 50px;
					.table-wrap {
						.table {
							tr {
								th {
									width: 160px;
									font-size: 14px;
									padding: 17px 0 17px 25px;
								}
								td {
									padding-left: 30px;
									padding-right: 30px;
									font-size: 14px;
								}
							}
						}
					}
				}
			}
		}
	}
	@media ( min-width: $xl ) {
		.modal-dialog {
			max-width: 850px;
			.modal-content {
				.modal-body {
					padding: 40px 20px 50px;
				}
			}
		}
	}
}

//공시사항 뷰
.notice-view {
	.comment-area {
		margin-top: 70px;
		.paging {
			margin-top: 50px;
		}
	}
	@media ( min-width: $md ) {
		.comment-area {
			.paging {
				margin-top: 50px;
			}
		}
	}
	@media ( min-width: $md ) {
		.comment-area {
			margin-top: 90px;
		}
	}
}

.faq-view {
	.comment-area {
		margin-top: 70px;
		.paging {
			margin-top: 50px;
		}
	}
	@media ( min-width: $md ) {
		.comment-area {
			.paging {
				margin-top: 50px;
			}
		}
	}
	@media ( min-width: $md ) {
		.comment-area {
			margin-top: 90px;
		}
	}
}


























