@import 'common';

// lnb
.lnb {
    > ul {
        font-size: 0;
        > li {
            display: inline-block;
            width: 33.33%;
            text-align: center;
            border: 1px solid #bababa;
            border-right: 0;
            border-top: 0;
            a {
                font-size: 13px;
                display: block;
                color: #999;
                line-height: 45px;
                @include transition();
                &:hover {
                    color: #fff;
                    background-color: #085eaa;
                    opacity: .8;
                }
            }
            &.active {
                a {
                    color: #fff;
                    background-color: #085eaa;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            &:nth-of-type(3n + 3) {
                border-right: 1px solid #bababa;
            }
            &:nth-of-type(1),&:nth-of-type(2),&:nth-of-type(3) {
                border-top: 1px solid #bababa;
            }
        }
    }
    @media(min-width: $md) {
        > ul {
            > li {
                a {
                    font-size: 15px;
                    line-height: 55px;
                }
            }
        }
    }
    @media(min-width: $xl) {
        > ul {
            display: table;
            width: 100%;
            > li {
                display: table-cell;
                width: 1%;
                border-bottom: 1px solid #bababa;
                border-top: 1px solid #bababa;
                border-right: 0 !important;
                a {
                    font-size: 16px;
                    line-height: 55px;
                }
                &:last-child {
                    border-right: 1px solid #bababa !important;
                }
            }
        }
    }
}

// 협회장 인사말
.greeting {
    .section-content {
        .president {
            > .article-header {
                
            }
            > .article-content {
                
            }
        }
        hr {
            display: block;
            width: 100%;
            margin: 50px 0;
            border-top: 1px solid #dfdfdf;
        }
        .activity {
            > .article-header {
                
            }
            > .article-content {
                
            }
        }
    }
}



































