@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
/*@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');*/
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import url(//cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700");
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format("opentype"); }
/*@mixin roboto() {
    font-family: 'Roboto', sans-serif;
}*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

label {
  font-weight: 400;
  margin: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button:hover, button:focus {
  box-shadow: none; }

a {
  color: inherit;
  text-decoration: none !important; }
  a:hover, a:focus {
    color: inherit;
    outline: none; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.container {
  max-width: 100%; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.lnb > ul {
  font-size: 0; }
  .lnb > ul > li {
    display: inline-block;
    width: 33.33%;
    text-align: center;
    border: 1px solid #bababa;
    border-right: 0;
    border-top: 0; }
    .lnb > ul > li a {
      font-size: 13px;
      display: block;
      color: #999;
      line-height: 45px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .lnb > ul > li a:hover {
        color: #fff;
        background-color: #085eaa;
        opacity: .8; }
    .lnb > ul > li.active a {
      color: #fff;
      background-color: #085eaa; }
      .lnb > ul > li.active a:hover {
        opacity: 1; }
    .lnb > ul > li:nth-of-type(3n + 3) {
      border-right: 1px solid #bababa; }
    .lnb > ul > li:nth-of-type(1), .lnb > ul > li:nth-of-type(2), .lnb > ul > li:nth-of-type(3) {
      border-top: 1px solid #bababa; }
@media (min-width: 768px) {
  .lnb > ul > li a {
    font-size: 15px;
    line-height: 55px; } }
@media (min-width: 1200px) {
  .lnb > ul {
    display: table;
    width: 100%; }
    .lnb > ul > li {
      display: table-cell;
      width: 1%;
      border-bottom: 1px solid #bababa;
      border-top: 1px solid #bababa;
      border-right: 0 !important; }
      .lnb > ul > li a {
        font-size: 16px;
        line-height: 55px; }
      .lnb > ul > li:last-child {
        border-right: 1px solid #bababa !important; } }

.greeting .section-content .president > .article-header .president-greeting {
  padding: 45px 10px 0;
  background-image: url(/assets/images/introduce/bg_greeting.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }
  .greeting .section-content .president > .article-header .president-greeting .logo {
    margin-bottom: 20px; }
    .greeting .section-content .president > .article-header .president-greeting .logo img {
      width: 82px; }
  .greeting .section-content .president > .article-header .president-greeting h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #fff; }
  .greeting .section-content .president > .article-header .president-greeting p {
    font-size: 13px;
    color: #fff;
    line-height: 26px;
    margin-top: 25px; }
  .greeting .section-content .president > .article-header .president-greeting .president-img {
    margin-top: 30px;
    padding: 0 50px; }
    .greeting .section-content .president > .article-header .president-greeting .president-img img {
      display: block;
      margin: 0 auto; }
  .greeting .section-content .president > .article-header .president-greeting dl {
    text-align: right;
    margin-top: 40px; }
    .greeting .section-content .president > .article-header .president-greeting dl dt {
      font-size: 12px;
      color: #fff;
      font-weight: 300;
      line-height: 38px;
      display: inline-block; }
    .greeting .section-content .president > .article-header .president-greeting dl dd {
      display: inline-block;
      margin-left: 15px; }
      .greeting .section-content .president > .article-header .president-greeting dl dd img {
        width: 102px; }
.greeting .section-content .president > .article-content {
  margin-top: 35px; }
  .greeting .section-content .president > .article-content p {
    font-size: 13px;
    color: #666;
    line-height: 26px;
    word-break: break-all; }
    .greeting .section-content .president > .article-content p b {
      color: #085eaa;
      font-weight: 500; }
.greeting .section-content hr {
  display: block;
  width: 100%;
  margin: 50px 0;
  border-top: 1px solid #dfdfdf; }
.greeting .section-content .activity > .article-header h6 {
  position: relative;
  font-size: 20px;
  color: #222;
  font-weight: 400;
  padding-top: 15px; }
  .greeting .section-content .activity > .article-header h6:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 40px;
    height: 2px;
    background-color: #085eaa; }
.greeting .section-content .activity > .article-content {
  margin-top: 30px; }
  .greeting .section-content .activity > .article-content p {
    font-size: 13px;
    color: #666;
    line-height: 26px;
    word-break: break-all; }
  .greeting .section-content .activity > .article-content ol {
    margin-top: 30px;
    padding: 30px 20px;
    background-color: #f8f8f8; }
    .greeting .section-content .activity > .article-content ol li {
      position: relative;
      line-height: 24px;
      font-size: 14px;
      color: #333;
      padding-left: 30px; }
      .greeting .section-content .activity > .article-content ol li ~ li {
        margin-top: 20px; }
      .greeting .section-content .activity > .article-content ol li i {
        position: absolute;
        top: 2px;
        left: 0;
        font-style: normal;
        width: 22px;
        height: 22px;
        line-height: 22px;
        display: block;
        border-radius: 50%;
        color: #fff;
        font-weight: bold;
        font-family: 'Titillium Web', sans-serif;
        text-align: center;
        background-color: #085eaa; }
@media (min-width: 768px) {
  .greeting .section-content .president > .article-header .president-greeting {
    padding: 60px 0 0; }
    .greeting .section-content .president > .article-header .president-greeting .summary {
      margin-left: -20px; }
    .greeting .section-content .president > .article-header .president-greeting .logo {
      margin-bottom: 25px; }
      .greeting .section-content .president > .article-header .president-greeting .logo img {
        width: auto; }
    .greeting .section-content .president > .article-header .president-greeting h5 {
      font-size: 26px;
      line-height: 38px;
      letter-spacing: -.5px; }
    .greeting .section-content .president > .article-header .president-greeting p {
      font-size: 14px;
      line-height: 26px;
      text-align: justify;
      margin-top: 35px; }
    .greeting .section-content .president > .article-header .president-greeting .president-img {
      padding: 0 30px;
      margin-top: 40px; }
    .greeting .section-content .president > .article-header .president-greeting dl {
      text-align: left;
      margin-top: 30px; }
      .greeting .section-content .president > .article-header .president-greeting dl dt {
        font-size: 13px;
        line-height: 39px; }
      .greeting .section-content .president > .article-header .president-greeting dl dd img {
        width: auto; }
  .greeting .section-content .president > .article-content {
    margin-top: 25px; }
    .greeting .section-content .president > .article-content p {
      font-size: 14px;
      line-height: 28px;
      text-align: justify; }
  .greeting .section-content hr {
    margin: 80px 0 70px; }
  .greeting .section-content .activity > .article-header h6 {
    font-size: 24px; }
  .greeting .section-content .activity > .article-content p {
    font-size: 14px;
    line-height: 28px;
    text-align: justify; }
  .greeting .section-content .activity > .article-content ol {
    padding: 50px 0;
    margin-top: 45px;
    overflow: hidden; }
    .greeting .section-content .activity > .article-content ol li {
      float: left;
      font-size: 15px;
      font-weight: 400;
      padding-right: 30px;
      padding-left: 70px;
      margin-bottom: 65px !important; }
      .greeting .section-content .activity > .article-content ol li ~ li {
        margin: 0; }
      .greeting .section-content .activity > .article-content ol li i {
        left: 40px; }
      .greeting .section-content .activity > .article-content ol li:nth-of-type(2n + 1) {
        clear: both; }
      .greeting .section-content .activity > .article-content ol li:nth-of-type(4) ~ li {
        margin-bottom: 0 !important; }
      .greeting .section-content .activity > .article-content ol li:nth-of-type(odd) {
        width: 45%; }
      .greeting .section-content .activity > .article-content ol li:nth-of-type(even) {
        width: 55%;
        padding-right: 8.3333%; } }
@media (min-width: 1200px) {
  .greeting .section-content .president > .article-header .president-greeting {
    padding: 80px 0 0; }
    .greeting .section-content .president > .article-header .president-greeting .summary {
      margin-left: 0; }
    .greeting .section-content .president > .article-header .president-greeting h5 {
      letter-spacing: 0; }
    .greeting .section-content .president > .article-header .president-greeting p {
      font-size: 15px;
      line-height: 30px; }
    .greeting .section-content .president > .article-header .president-greeting .president-img {
      padding: 0;
      margin-top: 0; }
    .greeting .section-content .president > .article-header .president-greeting dl {
      margin-top: 55px; }
  .greeting .section-content .president > .article-content {
    margin-top: 60px; }
    .greeting .section-content .president > .article-content p {
      font-size: 14px;
      line-height: 28px;
      text-align: justify; }
      .greeting .section-content .president > .article-content p.space:first-child {
        padding-right: 20px; }
      .greeting .section-content .president > .article-content p.space:last-child {
        padding-left: 20px; }
  .greeting .section-content hr {
    margin: 130px 0 90px; }
  .greeting .section-content .activity > .article-content ol {
    padding: 70px 0;
    margin-top: 50px; }
    .greeting .section-content .activity > .article-content ol li {
      margin-bottom: 40px !important; } }

/*# sourceMappingURL=introduce.css.map */
