@import 'common';

.membership {
    .page-header {
        background-image: url(/assets/images/membership/bg_page_header.jpg);
    }
    #content {
        padding-top: 0;
    }
}

// step-list
.step-list {
    font-size: 0;
    text-align: center;
    > li {
        position: relative;
        display: inline-block;
        color: #333;
        text-align: center;
        width: 80px;
        height: 80px;
        padding: 15px 0;
        border-radius: 50%;
        border: 1px solid #e8e8e8;
        margin-right: 30px;
        &:after {
            position: absolute;
            top: 50%;
            right: -20px;
            font-size: 25px;
            margin-top: -20px;
            color: #e8e8e8;
            font-family: "fontello";
            content: "\F105";
        }
        &:last-child {
            margin-right: 0;
            &:after {
                content: "";
            }
        }
        b {
            font-size: 12px;
            font-weight: 900;
            @include lato();
        }
        h5 {
            font-size: 13px;
            margin-top: 5px;
            font-weight: 400;
        }
        &.active {
            color: #fff;
            border-color: #ed6a10;
            background-color: #ed6a10;
            &:after {
                color: #ed6a10;
            }
        }
    }
    @media(min-width: $md) {
        width: 595px;
        margin: 0 auto;
        > li {
            width: 115px;
            height: 115px;
            padding: 30px 0;
            margin-right: 125px;
            b {
                font-size: 16px;
            }
            h5 {
                font-size: 16px;
            }
            &:after {
                font-size: 35px;
                right: -70px;
                margin-top: -25px;
            }
        }
    }
}


.form-group {
    .form-control {
        width: 100%;
        height: 56px;
        font-size: 13px;
        color: #333;
        border: 1px solid #ddd;
        &::placeholder {
            color: #999;
            opacity: 1;
        }
        &:-ms-input-placeholder {
            color: #999;
        }
        &::-ms-input-placeholder {
            color: #999;
        }
        @media(min-width: $md) {
            font-size: 14px;
        }
    }
}

// login , confirm
.login, .confirm {
    .section-header {
        > p {
            font-size: 13px;
            color: #2b2b2b;
            font-weight: 300;
            margin-top: 20px;
            @media(min-width: $md) {
                font-size: 15px;
                margin-top: 25px;
            }
            @media(min-width: $xl) {
                font-size: 16px;
            }
        }
    }
    .section-content {
        .login-form {
            > .form-group {
                .form-control {
                    & ~ .form-control {
                        margin-top: 10px;
                    }
                }
            }
            .btn-area {
                width: 100%;
                margin-top: 20px;
                > p {
                    .btn-lg {
                        width: 100%;
                        height: 48px;
                        line-height: 48px;
                        font-size: 15px;
                        color: #fff;
                        text-align: center;
                        background-color: #ed6a10;
                        @include transition();
                    }
                }
            }
            .list-user {
                font-size: 0;
                margin-top: 20px;
                > li {
                    font-size: 12px;
                    color: #666;
                    font-weight: 400;
                    vertical-align: top;
                    display: inline-block;
                    .form-group {
                        display: inline-block;
                        label {
                            color: #666;
                            input {
                                position: relative;
                                top: 2px;
                                margin-right: 5px;
                            }
                        }
                    }
                    &:after {
                        position: relative;
                        top: -1px;
                        font-size: 10px;
                        color: #e5e5e5;
                        font-weight: lighter;
                        content: "|";
                        margin: 0 15px 0 12px;
                    }
                    &:last-child {
                        &:after {
                            content: "";
                            margin: 0;
                        }
                    }
                }
            }
        }
        @media(min-width: $md) {
            .login-form {
                width: 100%;
                padding: 80px 0;
                border: 1px solid #e5e5e5;
                > .form-group {
                    width: 360px;
                    margin: 0 auto;
                }
                .btn-area {
                    width: 360px !important;
                    margin-left: auto;
                    margin-right: auto;
                    > p {
                        .btn-lg {
                            height: 54px;
                            line-height: 54px;
                            font-size: 18px;
                        }
                    }
                }
                .list-user {
                    width: 360px;
                    margin-left: auto;
                    margin-right: auto;
                    > li {
                        font-size: 14px;
                        .form-group {
                            label {
                                input {
                                    top: 2px;
                                }
                            }
                        }
                        &:after {
                            top: -2px;
                            margin: 0 20px 0 17px;
                        }
                    }
                }
            }
        }
        @media(min-width: $lg) {
            .login-form {
                width: 715px;
                margin: 0 auto;
            }
        }
    }
}

// 회원가입 step 01
.terms {
    .section-content {
        .consent {
            margin-top: 45px;
            > div {
                & ~ div {
                    margin-top: 20px;
                }
                border: 1px solid #dfdfdf;
                .consent-head {
                    overflow: hidden;
                    padding: 20px 10px;
                    border-bottom: 1px solid #dfdfdf;
                    background-color: #f1f1f1;
                    h6 {
                        font-size: 14px;
                        color: #222;
                        float: left;
                        line-height: 18px;
                        font-weight: 500;
                    }
                    > label {
                        display: inline-block;
                        float: right;
                        font-size: 12px;
                        line-height: 18px;
                        color: #666;
                        font-weight: 400;
                        > input {
                            position: relative;
                            top: 2px;
                            margin-right: 5px;
                        }
                    }
                }
                .consent-body {
                    overflow-y: scroll;
                    width: 100%;
                    height: 235px;
                    padding: 35px 10px;
                    font-size: 13px;
                    color: #666;
                    font-weight: 300;
                    line-height: 26px;
                }
            }
            > .check-all {
                margin-top: 10px;
                font-size: 13px;
                color: #222;
                font-weight: 400;
                input {
                    position: relative;
                    top: 1px;
                    margin-right: 5px;
                }
            }
        }
        .classification {
            margin-top: 40px;
            > ul {
                > li {
                    & ~ li  {
                        > div {
                            margin-top: 20px;
                        }
                    }
                    > div {
                        display: table;
                        width: 100%;
                        padding: 30px 0;
                        border: 1px solid #e5e5e5;
                        border-top: 3px solid #ed6a10;
                        > div {
                            display: table-cell;
                            table-layout: fixed;
                            vertical-align: middle;
                            &.icon-images {
                                width: 140px;
                                padding: 0 20px;
                                figure {
                                    width: 100px;
                                    height: 100px;
                                    line-height: 96px;
                                    text-align: center;
                                    border-radius: 50%;
                                    border: 1px solid #e5e5e5;
                                    img {
                                        height: 42px;
                                        display: inline-block;
                                    }
                                }
                            }
                            &.details {
                                padding-right: 25px;
                                h6 {
                                    font-size: 18px;
                                    color: #ed6a10;
                                    font-weight: 400;
                                }
                                p {
                                    font-size: 13px;
                                    color: #666;
                                    font-weight: 300;
                                    line-height: 20px;
                                    margin-top: 20px;
                                }
                                .btn-area {
                                    margin-top: 20px;
                                    p {
                                        .btn-md {
                                            width: 100%;
                                            height: 38px;
                                            font-size: 15px;
                                            font-weight: 300;
                                            color: #fff;
                                            text-align: center;
                                            line-height: 38px;
                                            &.btn-orange {
                                                background-color: #ed6a10;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.ibc-member {
                            border-top-color: #085eaa;
                            .details {
                                h6 {
                                    color: #085eaa;
                                }
                            }
                        }
                    }
                }
            }
        }
        @media(min-width: $md) {
            .consent {
                margin-top: 50px;
                > div {
                    & ~ div {
                        margin-top: 60px;
                    }
                    .consent-head {
                        padding: 20px 30px;
                        h6 {
                            font-size: 16px;
                        }
                        > label {
                            font-size: 14px;
                        }
                    }
                    .consent-body {
                        height: 260px;
                        font-size: 14px;
                        padding: 45px 30px;
                    }
                }
                > .check-all {
                    font-size: 14px;
                    margin-top: 20px;
                }
            }
            .classification {
                margin-top: 60px;
                > ul {
                    > li {
                        & ~ li  {
                            > div {
                                margin-top: 0;
                            }
                        }
                        > div {
                            padding: 30px 0;
                            > div {
                                &.icon-images {
                                    width: 150px;
                                }
                                &.details {
                                    h6 {
                                        font-size: 22px;
                                    }
                                    p {
                                        font-size: 15px;
                                    }
                                    .btn-area {
                                        p {
                                            .btn-md {
                                                width: 135px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @media(min-width: $lg) {
            .consent {
                margin-top: 70px;
                > div {
                    .consent-body {
                        height: 350px;
                    }
                }
            }
            .classification {
                > ul {
                    > li {
                        > div {
                            > div {
                                &.icon-images {
                                    width: 250px;
                                    padding-left: 60px;
                                    figure {
                                        width: 135px;
                                        height: 135px;
                                        line-height: 130px;
                                        img {
                                            height: auto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// 회원가입 쓰기
.join {
    .section-content {
        .write-form {
            margin-top: 40px;
            .table-wrap {
                > .essential {
                    display: none;
                    text-align: right;
                    font-size: 12px;
                    color: #d70505;
                    margin-bottom: 10px;
                    &:before {
                        content: "* ";
                    }
                }
                .table {
                    table-layout: fixed;
                    border-top: 1px solid #000;
                    tbody {
                        tr {
                            th {
                                width: 120px;
                                font-size: 13px;
                                color: #333;
                                font-weight: 400;
                                padding-left: 10px;
                                vertical-align: middle;
                                border: 0;
                                border-bottom: 1px solid #dfdfdf;
                                background-color: #f8f8f8;
                                small {
                                    font-size: 12px;
                                    color: #999;
                                    display: block;
                                }
                                &.essential {
                                    &:before {
                                        color: #d70505;
                                        content: "* ";
                                    }
                                }
                            }
                            td {
                                padding: 10px;
                                height: 56px;
                                vertical-align: middle;
                                border: 0;
                                border-bottom: 1px solid #dfdfdf;
                                .note {
                                    font-size: 12px;
                                    color: #666;
                                    line-height: 18px;
                                    font-weight: 300;
                                    margin-top: 10px;
                                }
                                .form-group {
                                    .form-control {
                                        width: 100%;
                                        height: 35px;
                                    }
                                    > label {
                                        font-size: 12px;
                                        color: #666;
                                        font-weight: 300;
                                        margin-right: 20px;
                                        &:last-child {
                                            margin-right: 0;
                                        }
                                        > input[type="checkbox"] {
                                            position: relative;
                                            top: 2px;
                                            margin-left: 5px;
                                        }
                                    }
                                    > .check-list {
                                        margin: 5px 0;
                                        > li {
                                            line-height: 30px;
                                            > label {
                                                position: relative;
                                                font-size: 12px;
                                                color: #666;
                                                font-weight: 300;
                                                line-height: 18px;
                                                padding-left: 20px;
                                                > input[type="checkbox"] {
                                                    position: absolute;
                                                    top: 50%;
                                                    left: 0;
                                                    margin-top: -5px;
                                                }
                                            }
                                            &.check-top {
                                                > label {
                                                    > input[type="checkbox"] {
                                                        top: 8px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                &.expertise {
                                    > .form-group {
                                        > .check-list {
                                            overflow: hidden;
                                            > li {
                                                display: inline-block;
                                                float: left;
                                                min-width: 80px;
                                                &:nth-of-type(2n + 1) {
                                                    clear: both;
                                                }
                                                &:last-child {
                                                    clear: both;
                                                }
                                                > label {
                                                    padding-left: 17px;
                                                }
                                            }
                                        }
                                    }
                                }
                                &.addr {
                                    .form-group {
                                        position: relative;
                                        padding-right: 100px;
                                        .zipcode-btn {
                                            position: absolute;
                                            top: 0;
                                            right: 0;
                                            width: 90px;
                                            height: 35px;
                                            line-height: 35px;
                                            text-align: center;
                                            color: #fff;
                                            font-size: 12px;
                                            background-color: #464646;
                                            @include transition();
                                            &:hover {
                                                opacity: .7;
                                            }
                                        }
                                        .form-control {
                                            width: 100%;
                                            margin-bottom: 10px;
                                        }
                                        & ~ .form-group {
                                            padding-right: 0;
                                            .form-control {
                                                &:last-child {
                                                    margin-bottom: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .btn-area {
                margin-top: 30px;
                p {
                    font-size: 0;
                    .btn-md {
                        width: 48%;
                        font-size: 14px;
                        color: #fff;
                        height: 50px;
                        line-height: 50px;
                        margin-right: 4%;
                        &:last-child {
                            margin-right: 0;
                        }
                        &.btn-orange {
                            background-color: #ed6a10;
                        }
                        &.btn-gray {
                            background-color: #999;
                        }
                    }
                }
            }
        }
        @media(min-width: $md) {
            .write-form {
                margin-top: 30px;
                .table-wrap {
                    > .essential {
                        display: block;
                    }
                    .table {
                        tbody {
                            tr {
                                th {
                                    width: 200px;
                                    font-size: 14px;
                                    line-height: 20px;
                                    padding-left: 20px;
                                    small {
                                        font-size: 13px;
                                    }
                                }
                                td {
                                    font-size: 14px;
                                    padding-left: 20px;
                                    padding-right: 20px;
                                    .form-group {
                                        .form-control {
                                            width: 280px;
                                        }
                                        > label {
                                            font-size: 14px;
                                        }
                                        > .check-list {
                                            > li {
                                                > label {
                                                    font-size: 14px;
                                                    > input[type="checkbox"] {
                                                        
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &.expertise {
                                        > .form-group {
                                            > .check-list {
                                                > li {
                                                    line-height: 36px;
                                                    min-width: 110px;
                                                    &:nth-of-type(2n + 1) {
                                                        clear: none;
                                                    }
                                                    &:nth-of-type(4n + 1) {
                                                        clear: both;
                                                    }
                                                    label {
                                                        padding-left: 20px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &.addr {
                                        .form-group {
                                            padding-right: 0 !important;
                                            &:first-child {
                                                .form-control {
                                                    display: inline-block;
                                                    width: 160px;
                                                }
                                                .zipcode-btn {
                                                    position: static;
                                                    display: inline-block;
                                                    width: 105px;
                                                    font-size: 13px;
                                                    margin-left: 10px;
                                                    vertical-align: top;
                                                }
                                            }
                                            .form-control {
                                                width: 455px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .btn-area {
                    text-align: center;
                    margin-top: 60px;
                    p {
                        .btn-md {
                            font-size: 16px;
                            width: 200px;
                            height: 65px;
                            line-height: 65px;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        @media(min-width: $xl) {
            .write-form {
                margin-top: 50px;
                .table-wrap {
                    .table {
                        tbody {
                            tr {
                                td {
                                    &.u-pw {
                                        .form-group {
                                            .form-control {
                                                display: inline-block;
                                            }
                                            .note {
                                                display: inline-block;
                                                margin: 0;
                                                line-height: 35px;
                                                margin-left: 10px;
                                                vertical-align: top;
                                            }
                                        }
                                    }
                                    &.expertise {
                                        > .form-group {
                                            > .check-list {
                                                > li {
                                                    &:nth-of-type(4n + 1) {
                                                        clear: none;
                                                    }
                                                    &:nth-of-type(6n + 1) {
                                                        clear: both;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .inline-content {
                                        margin-top: 10px;
                                        label {
                                            display: inline-block;
                                            margin-right: 10px;
                                        }
                                        .form-control {
                                            display: inline-block;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .btn-area {
                    margin-top: 50px;
                }
            }
        }
    }
}

// 가입완료
.success {
    .section-content {
        article {
            text-align: center;
            margin-top: 30px;
            padding-top: 65px;
            background-image: url(/assets/images/membership/icon_success.jpg);
            background-repeat: no-repeat;
            background-size: 40px auto;
            background-position: 50% 0;
            h5 {
                font-size: 24px;
                color: #333;
                font-weight: 300;
                strong {
                    font-weight: 500;
                }
            }
            p {
                font-size: 13px;
                color: #666;
                line-height: 20px;
                font-weight: 300;
                margin-top: 20px;
            }
            .btn-area {
                margin-top: 45px;
                p {
                    font-size: 0;
                    .btn-md {
                        width: 48%;
                        font-size: 14px;
                        color: #fff;
                        height: 50px;
                        line-height: 50px;
                        margin-right: 4%;
                        &:last-child {
                            margin-right: 0;
                        }
                        &.btn-orange {
                            background-color: #ed6a10;
                        }
                        &.btn-gray {
                            background-color: #999;
                        }
                    }
                }
            }
            @media(min-width: $md) {
                margin: 0;
                padding: 150px 0 70px;
                border: 1px solid #e5e5e5;
                background-size: 50px auto;
                background-position: 50% 68px;
                h5 {
                    font-size: 28px;
                }
                p {
                    font-size: 15px;
                    line-height: 24px;
                    margin-top: 25px;
                }
                .btn-area {
                    text-align: center;
                    margin-top: 50px;
                    p {
                        .btn-md {
                            font-size: 16px;
                            width: 200px;
                            height: 65px;
                            line-height: 65px;
                            margin-right: 10px;
                        }
                    }
                }
            }
            @media(min-width: $xl) {
                width: 715px;
                margin: 0 auto;
            }
        }
    }
}

// 회원정보 수정
.modify {
    .section-content {
        .write-form {
            margin-top: 0;
            .table {
                tbody {
                    tr {
                        td {
                            .form-group {
                                > label {
                                    margin-top: 10px;
                                }
                                @media(min-width: $lg) {
                                    position: relative;
                                    > label {
                                        position: absolute;
                                        top: 50%;
                                        right: 20px;
                                        margin-top: -10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}