@import 'common';

.sub {
    padding-top: 56px;
    @media(min-width: $md) {
        padding-top: 80px;
    }
    @media(min-width: $xl) {
        padding-top: 0;
    }
}

#content {
    min-height: 500px;
    padding: 20px 0 60px;
    @media(min-width: $md) {
        padding: 40px 0 70px;
    }
    @media(min-width: $xl) {
        padding: 50px 0 120px;
    }
}

.ex-title {
    font-size: 15px;
    color: cornflowerblue;
    padding-bottom: 30px;
}

//page-header 
.page-header {
    width: 100%;
    padding: 40px 0;
    text-align: center;
    color: #fff;
    background-image: url(/assets/images/sub/bg_page_header.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    > small {
        font-size: 16px;
    }
    > .page-title {
        font-size: 20px;
        font-weight: bold;
        line-height: 26px;
        margin-top: 15px;
        @include titi();
        letter-spacing: 6px;
    }
    @media(min-width: $md) {
        padding: 80px 0;
        > small {
            font-size: 22px;
        }
        > .page-title {
            font-size: 36px;
            margin-top: 20px;
        }
    }
    @media(min-width: $xl) {
        padding: 200px 0 90px;
    }
}

// 페이지 공통
.section-header {
    padding: 40px 0 30px;
    text-align: center;
    h4 {
        font-size: 24px;
        color: #222;
        font-weight: 400;
    }
    @media(min-width: $md) {
        padding: 55px 0 50px;
        h4 {
            font-size: 30px;
        }
    }
    @media(min-width: $xl) {
        padding: 70px 0 60px;
        h4 {
            font-size: 34px;
        }
    }
}

// 검색영역
.search-form {
    position: relative;
    padding-left: 100px;
    .form-group {
        select {
            position: absolute;
            top: 0;
            left: 0;
            width: 90px;
        }
        input[type="text"] {
            padding-right: 45px;
        }
        .form-control {
            font-size: 13px;
            color: #999;
            height: 40px !important;
            padding: 0 10px;
            border: 1px solid #fff;
            border-bottom: 1px solid #a3a3a3;
            &::-webkit-input-placeholder {
                color: #999;
            }
            &::-moz-placeholder {
                color: #999;
            }
            &:-ms-input-placeholder {
                color: #999;
            }
            &:-moz-placeholder {
                color: #999;
            }
        }
    }
    .sub-search {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        font-size: 14px;
        color: #999;
    }
    @media(min-width: $md) {
        width: 410px;
        margin: 0 auto;
        padding-left: 115px;
        .form-group {
            select {
                width: 100px;
            }
            input[type="text"] {
                padding-right: 45px;
            }
            .form-control {
                font-size: 14px;
            }
        }
        .sub-search {
            font-size: 17px;
            i {
                position: relative;
                top: -2px;
            }
        }
    }
}

// paging
.paging {
    text-align: center;
    .pagination {
        overflow: hidden;
        display: inline-block;
        > li {
            float: left;
            > a {
                width: 25px;
                height: 25px;
                line-height: 25px;
                padding: 0;
                border: 0;
                @include titi();
                font-size: 17px;
                color: #666;
                font-weight: 400;
                border-radius: 50%;
                margin: 0 3px;
                background: none;
            }
            &.active {
                > a {
                    background-color: #085eaa;
                }
            }
            &.first {
                > a {
                    margin-left: 0;
                }
            }
            &.last {
                > a {
                    margin-right: 0;
                }
            }
            &.prev {
                > a {
                    margin-right: 8px;
                    @media(min-width: $md) {
                        margin-right: 20px;
                    }
                }
            }
            &.next {
                > a {
                    margin-left: 8px;
                    @media(min-width: $md) {
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}

// 게시판 리스트
.board-list {
    border-top: 2px solid #393939;
    .board-body {
        > ol {
            > li {
                padding: 20px 10px;
                border-bottom: 1px solid #ccc;
                > ul {
                    > li {
                        font-size: 13px;
                        color: #999;
                        font-weight: 400;
                        &.num {
                            @include titi();
                        }
                        &.subject {
                            display: block;
                            margin-bottom: 20px;
                            > a {
                                font-size: 14px;
                                color: #666;
                                font-weight: 400;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                display: block;
                            }
                        }
                        &.date {
                            display: inline-block;
                            &:after {
                                position: relative;
                                top: -2px;
                                font-size: 10px;
                                display: inline-block;
                                content: "|";
                                margin: 0 10px;
                            }
                        }
                        &.hit {
                            display: inline-block;
                        }
                        dl {
                            display: inline-block;
                            dt {
                                display: inline-block;
                                font-weight: 300;
                                margin-right: 5px;
                            }
                            dd {
                                display: inline-block;
                                font-weight: 300;
                                @include titi();
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $xl) {
        .board-head {
            border-bottom: 1px solid #dfdfdf;
            > ul {
                display: table;
                width: 100%;
                > li {
                    display: table-cell;
                    font-size: 15px;
                    color: #333;
                    vertical-align: middle;
                    height: 52px;
                    text-align: center;
                    font-weight: 400;
                    &.num {
                        width: 10%;
                    }
                    &.subject {
                        width: 70%;
                    }
                    /*&.attach {
                        width: 10%;
                    }*/
                    &.date {
                        width: 10%;
                    }
                    &.hit {
                        width: 10%;
                    }
                }
            }
        }
        .board-body {
            > ol {
                > li {
                    padding: 0;
                    > ul {
                        display: table !important;
                        table-layout: fixed;
                        width: 100%;
                        > li {
                            display: table-cell !important;
                            vertical-align: middle;
                            height: 52px;
                            text-align: center;
                            &.num {
                                width: 10%;
                            }
                            &.subject {
                                width: 70%;
                                a {
                                    text-align: left;
                                }
                            }
                            /*&.attach {
                                width: 10%;
                            }*/
                            &.date {
                                width: 10%;
                                &:after {
                                    display: none;
                                    margin: 0;
                                }
                            }
                            &.hit {
                                width: 10%;
                            }
                        }
                    }
                }
            }
        }
    }
}

// board-view
.board-view {
    .view-head {
        border-top: 2px solid #333;
        h5 {
            display: block;
            font-size: 14px;
            color: #333;
            line-height: 24px;
            padding: 10px 20px;
            font-weight: 400;
            word-break: keep-all;
            border-bottom: 1px solid #d6d6d6;
        }
        > ul {
            padding: 10px 20px;
            border-bottom: 1px solid #d6d6d6;
            > li {
                font-size: 13px;
                color: #666;
                display: inline-block;
                &:after {
                    position: relative;
                    top: -2px;
                    font-size: 10px;
                    color: #d6d6d6;
                    content: "|";
                    margin: 0 10px;
                }
                &:last-child {
                    &:after {
                        content: "";
                        margin: 0;
                    }
                }
                > dl {
                    display: inline-block;
                    > dt {
                        font-weight: 300;
                        display: inline-block;
                        &:after {
                            content: ":";
                            margin: 0 2px 0 4px;
                        }
                    }
                    > dd {
                        font-weight: 300;
                        display: inline-block;
                    }
                }
            }
        }
    }
    .view-content {
        font-size: 13px;
        color: #666;
        line-height: 24px;
        padding: 35px 10px 50px;
        border-bottom: 1px solid #d6d6d6;
    }
    .attach {
        position: relative;
        overflow: hidden;
        padding: 30px 10px;
        border-bottom: 1px solid #333;
        > dt {
            position: relative;
            height: 100%;
            float: left;
            font-size: 13px;
            color: #666;
            font-weight: 300;
            &:after {
                content: ":";
                margin: 0 6px 0;
            }
        }
        > dd {
            font-size: 13px;
            color: #666;
            padding-left: 65px;
            font-weight: 300;
            > ul {
                > li {
                    & ~ li {
                        margin-top: 20px;
                    }
                    > a {
                        padding-left: 30px;
                        background-repeat: no-repeat;
                        background-size: auto 19px;
                        background-image: url(/assets/images/sub/icon_attach.gif);
                        background-position: 0 50%;
                    }
                }
            }
        }
    }
    .page-link {
        padding: 0;
        margin-top: 40px;
        border: 0;
        background: none;
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
        > ul {
            > li {
                font-size: 13px;
                color: #666;
                & ~ li {
                    border-top: 1px solid #d6d6d6;
                }
                > dl {
                    position: relative;
                    padding-left: 90px;
                    > dt {
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-weight: 400;
                        line-height: 58px;
                        width: 90px;
                        padding: 0 20px 0 10px;
                        background-color: #fafafa;
                        &:after {
                            content: "\F006";
                            font-size: 12px;
                            font-family: "fontello";
                            float: right;
                        }
                    }
                    > dd {
                        > a {
                            display: block;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            display: block;
                            font-weight: 400;
                            line-height: 58px;
                            padding: 0 10px 0 20px;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        .view-head {
            h5 {
                padding: 20px 15px;
                font-size: 15px;
            }
            > ul {
                padding: 20px 15px;
                > li {
                    font-size: 14px;
                }
            }
        }
        .view-content {
            font-size: 14px;
            line-height: 32px;
            padding: 40px 15px 50px;
        }
        .attach {
            padding: 30px 15px;
            > dt {
                font-size: 14px;
            }
            > dd {
                font-size: 14px;
                padding-left: 70px;
            }
        }
        .page-link {
            margin-top: 70px;
            > ul {
                > li {
                    font-size: 14px;
                    > dl {
                        padding-left: 125px;
                        > dt {
                            width: 125px;
                            padding: 0 30px;
                            &:after {
                                
                            }
                        }
                        > dd {
                            > a {
                                padding: 0 35px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $xl) {
        .view-head {
            h5 {
                font-size: 15px;
            }
        }
        .view-content {
            font-size: 15px;
            line-height: 32px;
            padding: 70px 15px 85px;
        }
        .page-link {
            margin-top: 65px;
        }
    }
}

// 버튼종류
.btn-area {
    p {
        font-size: 0;
		overflow: hidden;
        .btn {
            display: inline-block;
            font-size: 13px;
            @include transition();
            &:hover {
                opacity: .7;
            }
            &.btn-md {
                width: 110px;
                height: 36px;
                line-height: 36px;
            }
            &.btn-blue {
                color: #fff;
                background-color: #085eaa;
            }
			&.btn-sm {
				width: 30%;
				color: #666;
				line-height: 36px;
				text-align: center;
				margin-right: 5%;
				&:last-child {
					margin-right: 0;
				}
			}
			&.btn-white {
				border: 1px solid #333;	
			}
			&.btn-sm-bl {
                color: #fff;
				border: 1px solid #085eaa;
                background-color: #085eaa;
			}
            @media(min-width: $md) {
                font-size: 15px;
                &.btn-md {
                    width: 150px;
                    height: 50px;
                    line-height: 50px;
                }
				&.btn-sm {
					width: 150px;
					line-height: 50px;
					margin-right: 0;
					&:nth-of-type(2) {
						margin-right: 0;
					}
				}
				&.btn-white {
					float: left;
					margin-right: 10px;
				}
				&.btn-sm-bl {
					float: right; 
				}
            }
        }
    }
}

//코멘트 작성
.comment-area {
	> h3 {
		font-size: 15px;
		color: #323232;
		font-weight: 400;
		padding-left: 30px;
		margin-bottom: 10px;
		background-image: url(/assets/images/sub/bg_comment_title.jpg);
		background-repeat: no-repeat;
		background-position: 0 100%;
	}
	.write {
		width: 100%;
		text-align: right;
		padding: 20px 10px 10px;
		border: 1px solid #d6d6d6;
		border-radius: 5px;
		background-color: #f7f7f7;
		.form-control {
			min-height: 85px;
			font-size: 12px;
			background-color: #fff;
			color: #515151;
			opacity: .8;
			padding: 15px 10px;
			border: 1px solid #d6d6d6;
		}
		.btn-gray {
			width: 70px;
			font-size: 12px;
			color: #fff;
			text-align: center;
			background-color: #666;
			line-height: 30px;
			margin-top: 10px;
			&:hover {
				opacity: .8;
				@include transition();
			}
		}
	}
	.comment-write {
		.comment-num {
			font-size: 13px;
			color: #606060;
			font-weight: 400;
			margin-top: 40px;
			i {
				font-style: normal;
				color: #ed6a10;
				font-weight: 400;
			}
		}
	}
	.article-content {
		margin-top: 10px;
		.comment-list {
			border-top: 2px solid #aeaeae;
			border-bottom: 2px solid #aeaeae;
			> li {
				padding: 20px 10px 25px;
				& ~ li {
					border-top: 1px solid #e5e5e5;
				}
				.info {
					font-size: 0;
					strong {
						display: inline-block;
						font-size: 13px;
						color: #3d3d3d;
						font-weight: 600;
					}
					.date {
						display: inline-block;
						font-size: 12px;
						color: #666;
						margin-left: 25px;
					}
				}
				.details {
					margin-top: 20px;
					> p {
						font-size: 12px;
						color: #515151;	
					}
					.modify-list {
						font-size: 0;
						text-align: right;
						margin-top: 25px;
						li {
							display: inline-block;
							> a {
								display: inline-block;
								font-size: 12px;
								color: #666;
								&:hover {
									opacity: .8;
									@include transition();
								}
								&.delete {
									&:hover {
										color: #ed6a10;
										opacity: 1;
									}
								}
							}
							&:last-child {
								&:after {
									display: none;
								}
							}
							&:after {
								position: relative;
								top: -1px;
								content: "|";
								display: inline-block;
								font-size: 10px;
								color: #d6d6d6;
								margin: 0 10px;
							}
						}
					}
				}
				.reply {
					margin-top: 30px;
					> li {
						border: 1px solid #ececec;
						border-radius: 5px;
						padding: 20px 10px 20px 35px;
						background-color: #f7f7f7;
						background-image: url(/assets/images/sub/bg_comment_reply.png);
						background-repeat: no-repeat;
						background-position: 10px 20px;
						> .details {
							margin: 10px 0 0;
							> p {
								font-size: 12px;
								line-height: 22px;
								word-break: keep-all;
							}
						}
						> .write {
							padding: 0;
							border: 0;
							border-radius: 0;
							background-color: none;
						}
						& ~ li {
							margin-top: 10px;
						}
					}
				}
			}
		}
	}
	@media ( min-width: $md ) {
		> h3 {
			font-size: 18px;
			margin-bottom: 20px;
		}
		.write {
			padding: 30px 30px 15px 40px;
			.form-control {
				font-size: 14px;
				padding: 15px 25px;
			}
			.btn-gray {
				font-size: 13px;
				line-height: 35px;
			}
		}
		.comment-write {
			.comment-num {
				font-size: 14px;
				margin-top: 60px;
			}
		}
		.article-content {
			.comment-list {
				> li {
					padding: 35px 30px;
					.info {
						strong {
							font-size: 14px;
						}
					}
					.details {
						position: relative;
						margin-top: 25px;
						padding-right: 150px;
						> p {
							font-size: 14px;
						}
						.modify-list {
							position: absolute;
							right: 0;
							bottom: 0;
							li {
								> a {
									font-size: 13px;
								}
							}
						}
					}
					.reply {
						> li {
							padding: 30px 30px 30px 45px;
							background-position: 20px 30px;
							> .details {
								margin-top: 20px;
								padding-right: 110px;
								> p {
									font-size: 14px; 
								}
							}
						}
					}
				}
			}
		}
	}
	@media ( min-width: $xl ) {
		> h3 {
			padding-left: 35px;
		}
		.write {
			padding: 30px 35px 15px 40px;
			.form-control {
				padding: 20px 25px;
			}
		}
		.comment-write {
			.comment-num {
				margin-top: 45px;
			}
		}
		.article-content {
			.comment-list {
				> li {
					padding: 35px 30px;
					.reply {
						> li {
							padding: 25px 30px 25px 45px;
							background-position: 20px 25px;
						}
					}
				}
			}
		}
	}
}




// 게시판 리스트 공통
.common-list {
    .board-list {
        margin-top: 30px;
    }
    .paging {
        margin-top: 45px;
    }
    @media(min-width: $md) {
        .board-list {
            margin-top: 40px;
        }
        .paging {
            margin-top: 40px;
        }
    }
    @media(min-width: $xl) {
        .board-list {
            margin-top: 50px;
        }
    }
}

// 게시판 뷰 공통
.common-view {
    .btn-area {
        text-align: right;
        margin-top: 20px;
    }
    @media(min-width: $md) {
        .btn-area {
            margin-top: 30px;
        }
    }
    @media(min-width: $xl) {
        .btn-area {
            margin-top: 40px;
        }
    }
}

// 서브 타이틀
.sub-title {
	position: relative;
	font-size: 20px;
	color: #222;
	font-weight: 400;
	padding-top: 15px;
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		content: "";
		width: 40px;
		height: 2px;
		background-color: #085eaa;
	}
	@media(min-width: $md) {
		font-size: 22px;
		padding-top: 20px;
	}
}

// 테이블 type-1
.table-wrap {
	.table-type-1 {
		width: 100%;
		thead {
			tr {
				th {
					font-size: 13px;
					color: #fff;
					text-align: center;
					font-weight: 400;
					padding: 12px 10px;
					border-right: 1px solid #e1e1e1;
					background-color: #606767;
					&:last-child {
						border-right: 0;
					}
				}
			}
		}
		tbody {
			tr {
				td {
					font-size: 13px;
					color: #666;
					font-weight: 400;
					text-align: center;
					padding: 22px 10px;
					border-bottom: 1px solid #e1e1e1;
					border-right: 1px solid #e1e1e1;
					&:last-child {
						border-right: 0;
					}
				}
			}
		}
		@media ( min-width: $md ) {
			thead {
				tr {
					th {
						font-size: 14px;
					}
				}
			}
			tbody {
				tr {
					td {
						font-size: 14px;
					}
				}
			}
		}
	}
}


//tab-menu
.tab-wrap {
	.tab-menu {
		> ul {
			font-size: 0;
			text-align: center;
			> li {
				display: inline-block;
				width: 46%;
				line-height: 50px;
				text-align: center;
				margin-right: 8%;
				> a {
					display: block;
					font-size: 16px;
					color: #666;
					border-radius: 30px;
					background-color: #eee;
				}
				&:last-child {
					margin-right: 0;
				}
				&.active {
					a {
						color: #fff;
						background-color: #ed6a10;
						@include transition();
					}
				}
				&:hover {
					> a {
						color: #fff;
						background-color: #ed6a10;
						@include transition();
					}
				}
			}
			@media ( min-width: $md ) {
				> li {
					width: 175px;
					margin-right: 30px; 
				}
			}
		}
	}
	.sub-menu {
		text-align: center;
		padding: 20px 0;
		margin-top: 30px;
		border-top: 2px solid #030303;
		border-bottom: 1px solid #dfdfdf;
		> ul {
			overflow: hidden;
			> li {
				position: relative;
				float: left;
				width: 50%;
				text-align: right;
				&:nth-of-type( 2n + 1 ) {
					padding-right: 15px;
					&:after {
						position: absolute;
						top: 4px;
						right: 0;
						content: "|";
					}
				}
				&:nth-of-type( 2n + 2 ) {
					text-align: left;
					padding-left: 14px;
				}
				&.on {
					a {
						color: #222;
						font-weight: 400;
						&:hover {
							opacity: 1;
						}
					}
				}
				&:hover {
					a {
						color: #222;
						opacity: .8;
						font-weight: 400;
					}
				}
				> a {
					display: block;
					font-size: 14px;
					color: #999;
					font-weight: 400;
					line-height: 26px;
				}
			}
		}
		@media ( min-width: $md ) {
			margin-top: 35px;
			> ul {
				> li {
					display: inline-block;
					float: none;
					width: auto;
					text-align: center;
					padding-right: 15px;
					&:after {
						position: absolute;
						top: 4px;
						right: 0;
						content: "|";
					}
					&:nth-of-type( 2n + 1 ) {
						padding: 0 15px;
					}
					&:nth-of-type( 2n + 2 ) {
						text-align: center;
						padding: 0 15px;
					}
					&:first-child {
						padding-left: 0;
					}
					&:last-child {
						padding-right: 0;
						&:after {
							display: none;
						}
					}
				}
			}
		}
	}
}


//숫자 리스트
.number-list {
	> li {
		position: relative;
		padding-left: 30px;
		/*line-height: 22px;*/
		& ~ li {
			margin-top: 25px;
		}
		> h3 {
			font-size: 14px;
			color: #333;
			line-height: 24px;
			font-weight: 400;
		}
		> p {
			font-size: 13px;
			color: #666;
			line-height: 26px;
			margin-top: 20px;
			margin-left: -30px;
		}
		> span {
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			width: 24px;
			height: 24px;
			font-size: 14px;
			color: #fff;
			line-height: 23px;
			font-weight: 400;
			text-align: center;
			border-radius: 50%;
			background-color: #ed6a10;
			@include lato();
		}
		> small {
			display: block;
			font-size: 12px;
			color: #999;
			line-height: 26px;
			margin-top: 15px;
		}
	}
	@media ( min-width: $md )  {
		> li {
			padding-left: 35px;
			& ~ li {
				margin-top: 55px;
			}
			> h3 {
				font-size: 18px;
				line-height: 26px;
				margin-right: 10px;
			}
			> p {
				font-size: 14px;
				margin-left: -35px;
			}
			> span {
				width: 26px;
				height: 26px;
				font-size: 16px;
				line-height: 23px;
			}
			> small {
				font-size: 13px;
			}
		}
	}
}


// 주의 
.s-attention {
	font-size: 0;
	dt {
		display: inline-block;
		font-size: 12px;
		color: #999;
		font-weight: 300;
		line-height: 22px;
		&:before {
			position: relative;
			content: "*";
			top: 3px;
			left: 0;
			margin-right: 2px;
		}
		&:after {
			content: ":";
			margin: 0 3px;
		}	
	}
	dd {
		display: inline;
		font-size: 12px;
		color: #999;
		line-height: 22px;
	}
	@media ( min-width: $md ) {
		dt {
			font-size: 13px;
		}
		dd {
			font-size: 13px;
		}
	}
}

.attention {
	font-size: 0;
	dt {
		display: inline-block;
		font-size: 12px;
		color: #999;
		font-weight: 300;
		line-height: 22px;
		&:before {
			position: relative;
			content: "※";
			top: 0;
			left: 0;
			margin-right: 3px;
		}
		&:after {
			content: ":";
			margin: 0 3px;
		}	
	}
	dd {
		display: inline;
		font-size: 12px;
		color: #999;
		line-height: 22px;
	}
	@media ( min-width: $md ) {
		dt {
			font-size: 13px;
		}
		dd {
			font-size: 13px;
		}
	}
}



















