@import 'common';

.sub {
    padding-top: 56px;
    @media(min-width: $md) {
        padding-top: 80px;
    }
    @media(min-width: $xl) {
        padding-top: 0;
    }
}

#content {
    min-height: 500px;
    padding: 20px 0 60px;
    @media(min-width: $md) {
        padding: 40px 0 70px;
    }
    @media(min-width: $xl) {
        padding: 50px 0 120px;
    }
}

.ex-title {
    font-size: 15px;
    color: cornflowerblue;
    padding-bottom: 30px;
}

//page-header 
.page-header {
    width: 100%;
    padding: 40px 0;
    text-align: center;
    color: #fff;
    background-image: url(/assets/images/sub/bg_page_header.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    > small {
        font-size: 16px;
    }
    > .page-title {
        font-size: 20px;
        font-weight: bold;
        line-height: 26px;
        margin-top: 15px;
        @include titi();
        letter-spacing: 6px;
    }
    @media(min-width: $md) {
        padding: 80px 0;
        > small {
            font-size: 22px;
        }
        > .page-title {
            font-size: 36px;
            margin-top: 20px;
        }
    }
    @media(min-width: $xl) {
        padding: 200px 0 90px;
    }
}

// 페이지 공통
.section-header {
    padding: 40px 0 30px;
    text-align: center;
    h4 {
        font-size: 24px;
        color: #222;
        font-weight: 400;
    }
    @media(min-width: $md) {
        padding: 55px 0 50px;
        h4 {
            font-size: 30px;
        }
    }
    @media(min-width: $xl) {
        padding: 70px 0 60px;
        h4 {
            font-size: 34px;
        }
    }
}

// 검색영역
.search-form {
    position: relative;
    padding-left: 100px;
    .form-group {
        select {
            position: absolute;
            top: 0;
            left: 0;
            width: 90px;
        }
        input[type="text"] {
            padding-right: 45px;
        }
        .form-control {
            font-size: 13px;
            color: #999;
            height: 40px !important;
            padding: 0 10px;
            border: 1px solid #fff;
            border-bottom: 1px solid #a3a3a3;
            &::-webkit-input-placeholder {
                color: #999;
            }
            &::-moz-placeholder {
                color: #999;
            }
            &:-ms-input-placeholder {
                color: #999;
            }
            &:-moz-placeholder {
                color: #999;
            }
        }
    }
    .sub-search {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        font-size: 14px;
        color: #999;
    }
    @media(min-width: $md) {
        width: 410px;
        margin: 0 auto;
        padding-left: 115px;
        .form-group {
            select {
                width: 100px;
            }
            input[type="text"] {
                padding-right: 45px;
            }
            .form-control {
                font-size: 14px;
            }
        }
        .sub-search {
            font-size: 17px;
            i {
                position: relative;
                top: -2px;
            }
        }
    }
}

// paging
.paging {
    text-align: center;
    .pagination {
        overflow: hidden;
        display: inline-block;
        > li {
            float: left;
            > a {
                width: 25px;
                height: 25px;
                line-height: 25px;
                padding: 0;
                border: 0;
                @include titi();
                font-size: 17px;
                color: #666;
                font-weight: 400;
                border-radius: 50%;
                margin: 0 3px;
                background: none;
            }
            &.active {
                > a {
                    background-color: #085eaa;
                }
            }
            &.first {
                > a {
                    margin-left: 0;
                }
            }
            &.last {
                > a {
                    margin-right: 0;
                }
            }
            &.prev {
                > a {
                    margin-right: 8px;
                    @media(min-width: $md) {
                        margin-right: 20px;
                    }
                }
            }
            &.next {
                > a {
                    margin-left: 8px;
                    @media(min-width: $md) {
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}

// 게시판 리스트
.board-list {
    border-top: 2px solid #393939;
    .board-body {
        > ol {
            > li {
                padding: 20px 10px;
                border-bottom: 1px solid #ccc;
                > ul {
                    > li {
                        font-size: 13px;
                        color: #999;
                        font-weight: 300;
                        &.num {
                            @include titi();
                        }
                        &.subject {
                            display: block;
                            margin-bottom: 20px;
                            > a {
                                font-size: 14px;
                                color: #666;
                                font-weight: 400;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                display: block;
                            }
                        }
                        &.date {
                            display: inline-block;
                            &:after {
                                position: relative;
                                top: -2px;
                                font-size: 10px;
                                display: inline-block;
                                content: "|";
                                margin: 0 10px;
                            }
                        }
                        &.hit {
                            display: inline-block;
                        }
                        dl {
                            display: inline-block;
                            dt {
                                display: inline-block;
                                font-weight: 300;
                                margin-right: 5px;
                            }
                            dd {
                                display: inline-block;
                                font-weight: 300;
                                @include titi();
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $xl) {
        .board-head {
            border-bottom: 1px solid #dfdfdf;
            > ul {
                display: table;
                width: 100%;
                > li {
                    display: table-cell;
                    font-size: 15px;
                    color: #333;
                    vertical-align: middle;
                    height: 52px;
                    text-align: center;
                    font-weight: 400;
                    &.num {
                        width: 8%;
                    }
                    &.subject {
                        width: 64%;
                    }
                    &.attach {
                        width: 10%;
                    }
                    &.date {
                        width: 10%;
                    }
                    &.hit {
                        width: 8%;
                    }
                }
            }
        }
        .board-body {
            > ol {
                > li {
                    padding: 0;
                    > ul {
                        display: table !important;
                        table-layout: fixed;
                        width: 100%;
                        > li {
                            display: table-cell !important;
                            vertical-align: middle;
                            height: 52px;
                            text-align: center;
                            &.num {
                                width: 8%;
                            }
                            &.subject {
                                width: 64%;
                                a {
                                    text-align: left;
                                }
                            }
                            &.attach {
                                width: 10%;
                            }
                            &.date {
                                width: 10%;
                                &:after {
                                    display: none;
                                    margin: 0;
                                }
                            }
                            &.hit {
                                width: 8%;
                            }
                        }
                    }
                }
            }
        }
    }
}

// board-view
.board-view {
    .view-head {
        border-top: 2px solid #333;
        h5 {
            display: block;
            font-size: 14px;
            color: #333;
            line-height: 24px;
            padding: 10px 20px;
            font-weight: 400;
            word-break: keep-all;
            border-bottom: 1px solid #d6d6d6;
        }
        > ul {
            padding: 10px 20px;
            border-bottom: 1px solid #d6d6d6;
            > li {
                font-size: 13px;
                color: #666;
                display: inline-block;
                &:after {
                    position: relative;
                    top: -2px;
                    font-size: 10px;
                    color: #d6d6d6;
                    content: "|";
                    margin: 0 10px;
                }
                &:last-child {
                    &:after {
                        content: "";
                        margin: 0;
                    }
                }
                > dl {
                    display: inline-block;
                    > dt {
                        font-weight: 300;
                        display: inline-block;
                        &:after {
                            content: ":";
                            margin: 0 2px 0 4px;
                        }
                    }
                    > dd {
                        font-weight: 300;
                        display: inline-block;
                    }
                }
            }
        }
    }
    .view-content {
        font-size: 13px;
        color: #666;
        line-height: 24px;
        padding: 35px 10px 50px;
        border-bottom: 1px solid #d6d6d6;
    }
    .attach {
        position: relative;
        overflow: hidden;
        padding: 30px 10px;
        border-bottom: 1px solid #333;
        > dt {
            position: relative;
            height: 100%;
            float: left;
            font-size: 13px;
            color: #666;
            font-weight: 300;
            &:after {
                content: ":";
                margin: 0 6px 0;
            }
        }
        > dd {
            font-size: 13px;
            color: #666;
            padding-left: 65px;
            font-weight: 300;
            > ul {
                > li {
                    & ~ li {
                        margin-top: 20px;
                    }
                    > a {
                        padding-left: 30px;
                        background-repeat: no-repeat;
                        background-size: auto 19px;
                        background-image: url(/assets/images/sub/icon_attach.gif);
                        background-position: 0 50%;
                    }
                }
            }
        }
    }
    .page-link {
        padding: 0;
        margin-top: 40px;
        border: 0;
        background: none;
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
        > ul {
            > li {
                font-size: 13px;
                color: #666;
                & ~ li {
                    border-top: 1px solid #d6d6d6;
                }
                > dl {
                    position: relative;
                    padding-left: 90px;
                    > dt {
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-weight: 400;
                        line-height: 58px;
                        width: 90px;
                        padding: 0 20px 0 10px;
                        background-color: #fafafa;
                        &:after {
                            content: "\F006";
                            font-size: 12px;
                            font-family: "fontello";
                            float: right;
                        }
                    }
                    > dd {
                        > a {
                            display: block;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            display: block;
                            font-weight: 400;
                            line-height: 58px;
                            padding: 0 10px 0 20px;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        .view-head {
            h5 {
                padding: 20px 15px;
                font-size: 15px;
            }
            > ul {
                padding: 20px 15px;
                > li {
                    font-size: 14px;
                }
            }
        }
        .view-content {
            font-size: 14px;
            line-height: 32px;
            padding: 40px 15px 50px;
        }
        .attach {
            padding: 30px 15px;
            > dt {
                font-size: 14px;
            }
            > dd {
                font-size: 14px;
                padding-left: 70px;
            }
        }
        .page-link {
            margin-top: 70px;
            > ul {
                > li {
                    font-size: 14px;
                    > dl {
                        padding-left: 125px;
                        > dt {
                            width: 125px;
                            padding: 0 30px;
                            &:after {
                                
                            }
                        }
                        > dd {
                            > a {
                                padding: 0 35px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $xl) {
        .view-head {
            h5 {
                font-size: 15px;
            }
        }
        .view-content {
            font-size: 15px;
            line-height: 32px;
            padding: 70px 15px 85px;
        }
        .page-link {
            margin-top: 65px;
        }
    }
}













































