@import 'common';

.sub {
    padding-top: 56px;
    @media(min-width: $md) {
        padding-top: 80px;
    }
    @media(min-width: $xl) {
        padding-top: 0;
    }
}

#content {
    min-height: 500px;
    padding: 20px 0 60px;
    @media(min-width: $md) {
        padding: 40px 0 70px;
    }
    @media(min-width: $xl) {
        padding: 50px 0 120px;
    }
}

//page-header 
.page-header {
    width: 100%;
    padding: 40px 0;
    text-align: center;
    color: #fff;
    background-image: url(/assets/images/sub/bg_page_header.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    > small {
        font-size: 16px;
    }
    > .page-title {
        font-size: 20px;
        font-weight: bold;
        line-height: 26px;
        margin-top: 15px;
        @include titi();
        letter-spacing: 6px;
    }
    @media(min-width: $md) {
        padding: 80px 0;
        > small {
            font-size: 22px;
        }
        > .page-title {
            font-size: 36px;
            margin-top: 20px;
        }
    }
    @media(min-width: $xl) {
        padding: 200px 0 90px;
    }
}