@import 'common';

// 공통
.trend {
    .page-header {
        padding: 53px 0;
        background-image: url(/assets/images/trend/bg_page_header.jpg);
        @media(min-width: $md) {
            padding: 80px 0;
        }
        @media(min-width: $xl) {
            padding: 200px 0 90px;
        }
    }
}

// lnb-list
.lnb-list {
    > ul {
        font-size: 0;
        > li {
            display: inline-block;
            text-align: center;
            border: 1px solid #bababa;
            border-left: 0;
            border-top: 0;
            width: 33.33%;
            a {
                font-size: 13px;
                display: block;
                color: #999;
				width: 100%;
                line-height: 45px;
                @include transition();
                &:hover {
                    color: #fff;
                    background-color: #085eaa;
                    opacity: .8;
                }
            }
            &.active {
                a {
                    color: #fff;
                    background-color: #085eaa;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            &:nth-of-type(3n + 1) {
                border-left: 1px solid #bababa;
            }
            &:nth-of-type(1),&:nth-of-type(2),&:nth-of-type(3) {
                border-top: 1px solid #bababa;
            }
        }
    }
    @media(min-width: $md) {
        > ul {
            > li {
                a {
                    font-size: 15px;
                    line-height: 55px;
                }
            }
        } 
    }
    @media(min-width: $xl) {
        > ul {
            display: table;
            width: 100%;
			table-layout: fixed;
            > li {
                display: table-cell;
                width: 1%;
                border-bottom: 1px solid #bababa;
                border-top: 1px solid #bababa;
				border-left: 0 !important;
                a {
                    font-size: 16px;
                    line-height: 55px;
                }
                &:first-child {
                    border-left: 1px solid #bababa !important;
                }
            }
        }
    }
}






