
.icon-search:before { content: '\e800'; } /* '' */
.icon-search-1:before { content: '\e801'; } /* '' */
.icon-left:before { content: '\e802'; } /* '' */
.icon-right:before { content: '\e803'; } /* '' */
.icon-dot:before { content: '\e804'; } /* '' */
.icon-plus:before { content: '\e805'; } /* '' */